openapi: 3.0.3
info:
  title: GCDR API
  description: |
    API para o sistema GCDR (Global Customer Data Repository).
    Sistema multi-tenant para gerenciamento de clientes, assets, dispositivos, regras e integrações.
  version: 1.0.0
  contact:
    name: GCDR Team
  license:
    name: Proprietary

servers:
  - url: https://gcdr-server.apps.myio-bas.com
    description: Production
  - url: http://localhost:3015
    description: Local Development

tags:
  - name: Health
    description: Health check endpoints
  - name: Authentication
    description: User authentication (login, logout, MFA, password reset)
  - name: Customers
    description: Customer hierarchy management
  - name: Partners
    description: Partner management, API keys, OAuth clients, webhooks
  - name: Authorization
    description: Permission evaluation and role assignments
  - name: Roles
    description: Role management
  - name: Policies
    description: Policy management
  - name: Assets
    description: Asset hierarchy management
  - name: Devices
    description: Device management
  - name: Rules
    description: Business rules (alarms, SLA, escalation, maintenance)
  - name: Integrations
    description: Integration marketplace packages and subscriptions
  - name: Centrals
    description: Central/Gateway management
  - name: Themes
    description: Look and Feel customization
  - name: Users
    description: User management and authentication
  - name: Groups
    description: Group management for users, devices, and assets
  - name: Alarm Bundles
    description: Alarm rules bundle for Node-RED integration (M2M)
  - name: Audit Logs
    description: Audit logs for compliance and traceability
  - name: Customer API Keys
    description: API key management for customer integrations
  - name: Registration
    description: User self-registration and email verification (RFC-0011)
  - name: Admin Users
    description: Admin user management - approval, rejection, unlock (RFC-0011)
  - name: Templates
    description: HTML template engine for email notifications with preview and tag catalog (RFC-0021)
  - name: Device Sync Jobs
    description: Async device synchronization pipeline TB→GCDR (RFC-0023). Creates background jobs that run CHECK → ACTION_PLAN → DETECT_RELOCATIONS → RELOCATE → APPLY_UPDATES → CONSOLIDATE_CREATES phases with structured logs.
  - name: Access Bundle
    description: User access profile bundle + domain permissions registry (RFC-0013). Hierarchical `domain.equipment.location:action` permissions with TTL cache.
  - name: Maintenance Groups
    description: User maintenance teams (RFC-0013). FK-backed junction with per-member expiration.
  - name: User Contacts
    description: Per-user notification contacts (RFC-0024/0025). Channels used by dispatch resolution.
  - name: Customer Channels
    description: Customer-scoped dispatch channel credentials (RFC-0024).
  - name: Wiki
    description: MYIO Wiki — pages, revisions, search, backlinks, namespaces, and visibility resolution (RFC-0030 Phase 1+2). Authenticated.
  - name: Wiki Public
    description: Anonymous-friendly read endpoints for wiki pages with `visibility ⊇ PUBLIC` and `status = PUBLISHED` (RFC-0030 Phase 2). No auth required.
  - name: File Assets
    description: Generic S3-backed file storage. Polymorphic (owner_type, owner_id) so any feature can register binaries — wiki attachments, PDF artefacts, future avatars/logos/manuals (RFC-0030 / RFC-0031).
  - name: Work Orders
    description: |
      RFC-0037 — Work Orders event model (replaces the RFC-0032 QR-Checker
      module). A Work Order has N events (lifecycle transitions, structural
      events, observation/attachment markers); `status` is a projection of the
      latest lifecycle event. Device scope and file evidence hang off the WO.
      Customer-scoped via `work_orders_customer_settings` opt-in. All endpoints
      under `/api/v1/wo/*` plus `POST /api/v1/auth/operator-pin` and
      `POST /api/v1/wo/customers/:customerId/viewer-login` (public).
  - name: Annotations
    description: |
      RFC-0036 — Polymorphic annotation subsystem (entityType =
      device | work_order | work_order_event). Text + status + responses +
      events + mentions + attachments, with optimistic locking. Work-order
      observations are expressed as annotations on the WO or a specific event.
  - name: Consumption Goals
    description: |
      RFC-0046 — Per-customer consumption targets (ENERGY | WATER | TEMPERATURE)
      by domain and year, stored at a single canonical grain (the hour; up to
      8 760 rows/goal). `PUT` replaces the whole (domain, year) tree; `PATCH`
      merges sparse buckets; coarser views (year/month/day) are rolled up on
      read. Optimistic concurrency via `expectedVersion` (409 on mismatch).
      Nested under `/customers/{customerId}/goals`; scopes `goals:read` /
      `goals:write`. Full wire contract: docs/rfcs/RFC-0046-Goals-API.md.

security:
  - bearerAuth: []
  - apiKeyAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    TenantId:
      name: x-tenant-id
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Tenant identifier for multi-tenancy
    PathId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Resource UUID
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Number of items per page
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
      description: Pagination cursor

  schemas:
    # Common Response Wrappers
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
      required:
        - success
        - data

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
      required:
        - success
        - error

    PaginatedResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            items:
              type: array
              items: {}
            cursor:
              type: string
              nullable: true
            hasMore:
              type: boolean

    Pagination:
      type: object
      description: Cursor-based pagination metadata (PaginatedResult.pagination).
      properties:
        total:      { type: integer, nullable: true }
        totalPages: { type: integer, nullable: true }
        hasMore:    { type: boolean }
        nextCursor: { type: string, nullable: true }
      required: [hasMore]

    SuccessMessageResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
      required:
        - success

    # RFC-0023: Device Sync Jobs schemas
    DeviceSyncLogEntry:
      type: object
      properties:
        ts:
          type: string
          format: date-time
        phase:
          type: string
          enum: [QUEUED, CHECK, ACTION_PLAN, DETECT_RELOCATIONS, RELOCATE, APPLY_UPDATES, CONSOLIDATE_CREATES, DONE]
        level:
          type: string
          enum: [INFO, WARN, OK, FAIL, ERROR]
          description: INFO=gray, WARN=yellow, OK=green, FAIL=red, ERROR=dark red
        message:
          type: string

    DeviceSyncPhasesSummary:
      type: object
      properties:
        check:
          type: object
          properties:
            conformant: { type: integer }
            divergent:  { type: integer }
            notLinked:  { type: integer }
        actionPlan:
          type: object
          properties:
            create:           { type: integer }
            update:           { type: integer }
            updateIdentifier: { type: integer }
            skip:             { type: integer }
        detectRelocations:
          type: object
          properties:
            relocate:       { type: integer }
            genuineCreates: { type: integer }
        relocate:
          type: object
          properties:
            ok:   { type: integer }
            fail: { type: integer }
        applyUpdates:
          type: object
          properties:
            ok:   { type: integer }
            fail: { type: integer }
        consolidateCreates:
          type: object
          properties:
            ok:   { type: integer }
            fail: { type: integer }

    DeviceSyncJobStatus:
      type: object
      properties:
        jobId:
          type: string
          format: uuid
        status:
          type: string
          enum: [QUEUED, RUNNING, DONE, PARTIAL, FAILED]
        currentPhase:
          type: string
          enum: [QUEUED, CHECK, ACTION_PLAN, DETECT_RELOCATIONS, RELOCATE, APPLY_UPDATES, CONSOLIDATE_CREATES, DONE]
        dryRun:
          type: boolean
        customerId:
          type: string
          format: uuid
        summary:
          $ref: '#/components/schemas/DeviceSyncPhasesSummary'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true
        durationMs:
          type: integer
          nullable: true

    DeviceSyncJobSummary:
      allOf:
        - $ref: '#/components/schemas/DeviceSyncJobStatus'
        - message

    # Authentication Schemas
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: usuario@empresa.com
        password:
          type: string
          format: password
          minLength: 1
        mfaCode:
          type: string
          description: MFA code (if MFA is enabled)
          minLength: 6
          maxLength: 6
        deviceInfo:
          type: string
          description: Device information for session tracking

    LoginResponse:
      type: object
      properties:
        accessToken:
          type: string
          description: JWT access token
        refreshToken:
          type: string
          description: JWT refresh token
        tokenType:
          type: string
          enum: [Bearer]
        expiresIn:
          type: integer
          description: Access token expiry in seconds
          example: 3600
        refreshExpiresIn:
          type: integer
          description: Refresh token expiry in seconds
          example: 604800
        user:
          type: object
          properties:
            id:
              type: string
            email:
              type: string
            displayName:
              type: string
            type:
              type: string
            roles:
              type: array
              items:
                type: string

    MfaRequiredResponse:
      type: object
      properties:
        mfaRequired:
          type: boolean
          example: true
        mfaToken:
          type: string
          description: Temporary token to complete MFA verification
        mfaMethod:
          type: string
          enum: [totp, sms, email]
        expiresIn:
          type: integer
          description: MFA token expiry in seconds
          example: 300

    RefreshTokenRequest:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string

    TokenResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        tokenType:
          type: string
          enum: [Bearer]
        expiresIn:
          type: integer
        refreshExpiresIn:
          type: integer

    MfaVerifyRequest:
      type: object
      required:
        - mfaToken
        - code
      properties:
        mfaToken:
          type: string
          description: Temporary MFA token from login response
        code:
          type: string
          minLength: 6
          maxLength: 6
          description: MFA verification code
        useBackupCode:
          type: boolean
          default: false
          description: Set to true if using a backup code

    LogoutRequest:
      type: object
      properties:
        refreshToken:
          type: string
          description: Current refresh token to invalidate
        allDevices:
          type: boolean
          default: false
          description: Logout from all devices

    PasswordResetRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email

    PasswordResetConfirm:
      type: object
      required:
        - token
        - newPassword
      properties:
        token:
          type: string
          description: Password reset token from email
        newPassword:
          type: string
          format: password
          minLength: 8
          description: Must contain uppercase, lowercase, and number

    # Health
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        service:
          type: string
        version:
          type: string
        stage:
          type: string

    # Customer Schemas
    Customer:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        code:
          type: string
        name:
          type: string
        displayName:
          type: string
        type:
          type: string
          enum: [ROOT, RESELLER, ENTERPRISE, BUSINESS, INDIVIDUAL]
        status:
          type: string
          enum: [ACTIVE, INACTIVE, SUSPENDED, DELETED]
        parentCustomerId:
          type: string
          format: uuid
          nullable: true
        path:
          type: string
        depth:
          type: integer
        settings:
          $ref: '#/components/schemas/CustomerSettings'
        contact:
          $ref: '#/components/schemas/CustomerContact'
        address:
          $ref: '#/components/schemas/Address'
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CustomerSettings:
      type: object
      properties:
        timezone:
          type: string
        locale:
          type: string
        currency:
          type: string
        dateFormat:
          type: string
        maxUsers:
          type: integer
        maxAssets:
          type: integer
        maxDevices:
          type: integer
        features:
          type: object

    CustomerContact:
      type: object
      properties:
        email:
          type: string
          format: email
        phone:
          type: string
        alternativeEmail:
          type: string
          format: email
        alternativePhone:
          type: string

    Address:
      type: object
      properties:
        street:
          type: string
        number:
          type: string
        complement:
          type: string
        neighborhood:
          type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string

    CreateCustomer:
      type: object
      required:
        - code
        - name
        - displayName
        - type
      properties:
        code:
          type: string
          minLength: 2
          maxLength: 50
        name:
          type: string
          minLength: 2
          maxLength: 255
        displayName:
          type: string
          minLength: 2
          maxLength: 255
        type:
          type: string
          enum: [ROOT, RESELLER, ENTERPRISE, BUSINESS, INDIVIDUAL]
        parentCustomerId:
          type: string
          format: uuid
        settings:
          $ref: '#/components/schemas/CustomerSettings'
        contact:
          $ref: '#/components/schemas/CustomerContact'
        address:
          $ref: '#/components/schemas/Address'
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 20
        metadata:
          type: object

    UpdateCustomer:
      type: object
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 255
        displayName:
          type: string
          minLength: 2
          maxLength: 255
        type:
          type: string
          enum: [ROOT, RESELLER, ENTERPRISE, BUSINESS, INDIVIDUAL]
        settings:
          $ref: '#/components/schemas/CustomerSettings'
        contact:
          $ref: '#/components/schemas/CustomerContact'
        address:
          $ref: '#/components/schemas/Address'
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object

    MoveCustomer:
      type: object
      required:
        - newParentId
      properties:
        newParentId:
          type: string
          format: uuid

    # Partner Schemas
    Partner:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        name:
          type: string
        displayName:
          type: string
        type:
          type: string
          enum: [TECHNOLOGY, RESELLER, INTEGRATOR, OEM, DISTRIBUTOR, CONSULTING, OTHER]
        status:
          type: string
          enum: [PENDING, APPROVED, ACTIVE, SUSPENDED, REJECTED, TERMINATED]
        tier:
          type: string
          enum: [BRONZE, SILVER, GOLD, PLATINUM]
        contact:
          $ref: '#/components/schemas/PartnerContact'
        company:
          $ref: '#/components/schemas/CompanyInfo'
        capabilities:
          type: array
          items:
            type: string
        apiKeys:
          type: array
          items:
            $ref: '#/components/schemas/ApiKeyInfo'
        oauthClients:
          type: array
          items:
            $ref: '#/components/schemas/OAuthClientInfo'
        webhooks:
          type: array
          items:
            $ref: '#/components/schemas/WebhookInfo'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PartnerContact:
      type: object
      required:
        - name
        - email
      properties:
        name:
          type: string
          maxLength: 255
        email:
          type: string
          format: email
        phone:
          type: string
        position:
          type: string

    CompanyInfo:
      type: object
      required:
        - legalName
        - taxId
      properties:
        legalName:
          type: string
          maxLength: 255
        taxId:
          type: string
        website:
          type: string
          format: uri
        address:
          $ref: '#/components/schemas/Address'

    RegisterPartner:
      type: object
      required:
        - name
        - displayName
        - type
        - contact
        - company
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 255
        displayName:
          type: string
          minLength: 2
          maxLength: 255
        type:
          type: string
          enum: [TECHNOLOGY, RESELLER, INTEGRATOR, OEM, DISTRIBUTOR, CONSULTING, OTHER]
        contact:
          $ref: '#/components/schemas/PartnerContact'
        company:
          $ref: '#/components/schemas/CompanyInfo'
        capabilities:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object

    ApiKeyInfo:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        keyPrefix:
          type: string
        scopes:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [ACTIVE, REVOKED, EXPIRED]
        expiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    CreateApiKey:
      type: object
      required:
        - name
        - scopes
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
        scopes:
          type: array
          items:
            type: string
          minItems: 1
        expiresInDays:
          type: integer
          minimum: 1
          maximum: 365

    OAuthClientInfo:
      type: object
      properties:
        clientId:
          type: string
        name:
          type: string
        grantTypes:
          type: array
          items:
            type: string
        redirectUris:
          type: array
          items:
            type: string
        scopes:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [ACTIVE, REVOKED]
        createdAt:
          type: string
          format: date-time

    CreateOAuthClient:
      type: object
      required:
        - name
        - grantTypes
        - scopes
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
        grantTypes:
          type: array
          items:
            type: string
            enum: [client_credentials, authorization_code, refresh_token]
          minItems: 1
        redirectUris:
          type: array
          items:
            type: string
            format: uri
        scopes:
          type: array
          items:
            type: string
          minItems: 1

    WebhookInfo:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [ACTIVE, INACTIVE, FAILED]
        createdAt:
          type: string
          format: date-time

    CreateWebhook:
      type: object
      required:
        - name
        - url
        - events
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
          minItems: 1
        secret:
          type: string
          minLength: 16
        headers:
          type: object
          additionalProperties:
            type: string

    # OAuth Token
    OAuthTokenRequest:
      type: object
      required:
        - grant_type
        - client_id
        - client_secret
      properties:
        grant_type:
          type: string
          enum: [client_credentials, authorization_code, refresh_token]
        client_id:
          type: string
        client_secret:
          type: string
        code:
          type: string
        redirect_uri:
          type: string
        refresh_token:
          type: string
        scope:
          type: string

    OAuthTokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
        refresh_token:
          type: string
        scope:
          type: string

    # Authorization Schemas
    EvaluatePermission:
      type: object
      required:
        - userId
        - permission
        - resourceScope
      properties:
        userId:
          type: string
        permission:
          type: string
          pattern: '^[a-z]+\.[a-z]+\.[a-z]+$'
        resourceScope:
          type: string

    EvaluateBatch:
      type: object
      required:
        - userId
        - resourceScope
        - permissions
      properties:
        userId:
          type: string
        resourceScope:
          type: string
        permissions:
          type: array
          items:
            type: string
            pattern: '^[a-z]+\.[a-z]+\.[a-z]+$'
          minItems: 1
          maxItems: 100

    PermissionResult:
      type: object
      properties:
        allowed:
          type: boolean
        permission:
          type: string
        reason:
          type: string

    # Role Schemas
    Role:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        key:
          type: string
        displayName:
          type: string
        description:
          type: string
        policies:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            type: string
        riskLevel:
          type: string
          enum: [low, medium, high, critical]
        isSystem:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateRole:
      type: object
      required:
        - key
        - displayName
        - policies
      properties:
        key:
          type: string
          pattern: '^[a-z][a-z0-9_]*$'
        displayName:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 1000
        policies:
          type: array
          items:
            type: string
          minItems: 1
        tags:
          type: array
          items:
            type: string
        riskLevel:
          type: string
          enum: [low, medium, high, critical]
          default: low

    UpdateRole:
      type: object
      properties:
        displayName:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 1000
        policies:
          type: array
          items:
            type: string
          minItems: 1
        tags:
          type: array
          items:
            type: string
        riskLevel:
          type: string
          enum: [low, medium, high, critical]

    # Policy Schemas
    Policy:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        key:
          type: string
        displayName:
          type: string
        description:
          type: string
        allow:
          type: array
          items:
            type: string
        deny:
          type: array
          items:
            type: string
        conditions:
          $ref: '#/components/schemas/PolicyConditions'
        riskLevel:
          type: string
          enum: [low, medium, high, critical]
        isSystem:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PolicyConditions:
      type: object
      properties:
        requiresMFA:
          type: boolean
        onlyBusinessHours:
          type: boolean
        allowedDeviceTypes:
          type: array
          items:
            type: string
        ipAllowlist:
          type: array
          items:
            type: string
        maxSessionDuration:
          type: integer

    CreatePolicy:
      type: object
      required:
        - key
        - displayName
      properties:
        key:
          type: string
          pattern: '^[a-z][a-z0-9_]*$'
        displayName:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 1000
        allow:
          type: array
          items:
            type: string
          default: []
        deny:
          type: array
          items:
            type: string
          default: []
        conditions:
          $ref: '#/components/schemas/PolicyConditions'
        riskLevel:
          type: string
          enum: [low, medium, high, critical]
          default: low

    # Role Assignment
    AssignRole:
      type: object
      required:
        - userId
        - roleKey
        - scope
      properties:
        userId:
          type: string
        roleKey:
          type: string
        scope:
          type: string
        expiresAt:
          type: string
          format: date-time
        reason:
          type: string
          maxLength: 500

    RoleAssignment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
        roleKey:
          type: string
        scope:
          type: string
        status:
          type: string
          enum: [ACTIVE, REVOKED, EXPIRED]
        expiresAt:
          type: string
          format: date-time
        assignedBy:
          type: string
        assignedAt:
          type: string
          format: date-time

    # Asset Schemas
    Asset:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        name:
          type: string
        displayName:
          type: string
        type:
          type: string
          enum: [SITE, BUILDING, FLOOR, ROOM, AREA, ZONE, EQUIPMENT, LOCATION, OTHER]
        status:
          type: string
          enum: [ACTIVE, INACTIVE, MAINTENANCE, DECOMMISSIONED]
        parentAssetId:
          type: string
          format: uuid
          nullable: true
        path:
          type: string
        depth:
          type: integer
        location:
          $ref: '#/components/schemas/AssetLocation'
        specs:
          $ref: '#/components/schemas/AssetSpecs'
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    AssetLocation:
      type: object
      properties:
        latitude:
          type: number
          minimum: -90
          maximum: 90
        longitude:
          type: number
          minimum: -180
          maximum: 180
        altitude:
          type: number
        address:
          $ref: '#/components/schemas/Address'
        floor:
          type: string
        room:
          type: string
        position:
          type: string

    AssetSpecs:
      type: object
      properties:
        area:
          type: number
        capacity:
          type: integer
        powerCapacity:
          type: number
        coolingCapacity:
          type: number
        custom:
          type: object

    CreateAsset:
      type: object
      required:
        - customerId
        - name
        - displayName
        - type
      properties:
        customerId:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 255
        displayName:
          type: string
          minLength: 1
          maxLength: 255
        type:
          type: string
          enum: [SITE, BUILDING, FLOOR, ROOM, AREA, ZONE, EQUIPMENT, LOCATION, OTHER]
        parentAssetId:
          type: string
          format: uuid
        location:
          $ref: '#/components/schemas/AssetLocation'
        specs:
          $ref: '#/components/schemas/AssetSpecs'
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 20
        metadata:
          type: object

    # Device Schemas
    Device:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        assetId:
          type: string
          format: uuid
        name:
          type: string
        displayName:
          type: string
        type:
          type: string
          enum: [SENSOR, ACTUATOR, CONTROLLER, GATEWAY, METER, CAMERA, HVAC, LIGHTING, ACCESS_CONTROL, OTHER]
        status:
          type: string
          enum: [ACTIVE, INACTIVE, MAINTENANCE, FAULTY, DECOMMISSIONED]
        serialNumber:
          type: string
        manufacturer:
          type: string
        model:
          type: string
        firmwareVersion:
          type: string
        connectivity:
          $ref: '#/components/schemas/DeviceConnectivity'
        specs:
          $ref: '#/components/schemas/DeviceSpecs'
        telemetry:
          $ref: '#/components/schemas/DeviceTelemetry'
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
        createdAt:
          type: string
          format: date-time
        code:
          type: string
          maxLength: 50
          description: Optional short code for the device
        label:
          type: string
          maxLength: 100
          description: Optional label / tag for the device
        externalId:
          type: string
          description: ThingsBoard UUID or other external system identifier
        centralId:
          type: string
          format: uuid
          description: UUID of the associated central (gateway) — used for Modbus devices
        slaveId:
          type: integer
          minimum: 1
          maximum: 247
          description: Modbus slave ID — combined with centralId for exact device lookup
        channel:
          type: integer
          minimum: 0
          maximum: 999
          description: >-
            Optional channel index on a multi-channel board. Part of the
            (centralId, slaveId, channel, deviceChannelType) uniqueness, letting
            one physical board expose several devices.
        deviceChannelType:
          type: string
          maxLength: 100
          description: Optional channel sub-type (e.g. "lamp", "presence_sensor").
        boxId:
          type: string
          format: uuid
          nullable: true
          description: >-
            RFC-0058: on a member device, the UUID of the containing BOX
            (a device with deviceProfile='BOX'). Null on a BOX and on
            standalone devices.
        updatedAt:
          type: string
          format: date-time

    DeviceConnectivity:
      type: object
      properties:
        protocol:
          type: string
          enum: [MQTT, HTTP, COAP, MODBUS, BACNET, ZIGBEE, ZWAVE, LORA, CUSTOM]
        status:
          type: string
          enum: [ONLINE, OFFLINE, DEGRADED, UNKNOWN]
        lastSeen:
          type: string
          format: date-time
        ipAddress:
          type: string
        macAddress:
          type: string
        signalStrength:
          type: integer

    DeviceSpecs:
      type: object
      properties:
        powerSource:
          type: string
          enum: [MAINS, BATTERY, SOLAR, POE]
        batteryLevel:
          type: integer
          minimum: 0
          maximum: 100
        dataPoints:
          type: array
          items:
            type: object
        capabilities:
          type: array
          items:
            type: string
        custom:
          type: object

    DeviceTelemetry:
      type: object
      properties:
        interval:
          type: integer
        lastValue:
          type: object
        lastTimestamp:
          type: string
          format: date-time

    CreateDevice:
      type: object
      description: >-
        Request body for POST /devices and PUT /devices/{id}. Only assetId, name
        and type are required; serialNumber is auto-generated (AUTO-<id8>) when
        omitted, and displayName defaults to name.
      required:
        - assetId
        - name
        - type
      properties:
        assetId:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 255
        displayName:
          type: string
          maxLength: 255
          description: Defaults to name when omitted
        code:
          type: string
          maxLength: 50
        label:
          type: string
          maxLength: 100
        type:
          type: string
          enum: [SENSOR, ACTUATOR, GATEWAY, CONTROLLER, METER, CAMERA, OUTLET, INFRARED, OTHER]
        description:
          type: string
          maxLength: 1000
        serialNumber:
          type: string
          maxLength: 100
          description: Optional — auto-generated as AUTO-<id8> when omitted. Unique per tenant.
        externalId:
          type: string
          maxLength: 100
        manufacturer:
          type: string
          maxLength: 200
        model:
          type: string
          maxLength: 200
        firmwareVersion:
          type: string
          maxLength: 50
        specs:
          $ref: '#/components/schemas/DeviceSpecs'
        credentials:
          type: object
          description: 'Device credentials (type ACCESS_TOKEN | X509_CERTIFICATE | MQTT_BASIC)'
        telemetryConfig:
          type: object
          description: 'reportingInterval, telemetryKeys[], attributeKeys[]'
        tags:
          type: array
          items:
            type: string
            maxLength: 50
        metadata:
          type: object
        attributes:
          type: object
        # RFC-0008: Modbus / identity fields
        slaveId:
          type: integer
          minimum: 1
          maximum: 999
          description: Modbus slave ID (combined with centralId for exact lookup)
        centralId:
          type: string
          format: uuid
          description: Associated central (gateway)
        identifier:
          type: string
          maxLength: 255
        deviceProfile:
          type: string
          maxLength: 100
        deviceType:
          type: string
          maxLength: 100
        channel:
          type: integer
          minimum: 0
          maximum: 999
          description: >-
            Optional channel index on a multi-channel board. Part of the
            (centralId, slaveId, channel, deviceChannelType) uniqueness, so one
            physical board can expose several devices.
        deviceChannelType:
          type: string
          maxLength: 100
          description: Optional channel sub-type (e.g. "lamp", "presence_sensor").
        ingestionId:
          type: string
          format: uuid
        ingestionGatewayId:
          type: string
          format: uuid
        boxId:
          type: string
          format: uuid
          nullable: true
          description: >-
            RFC-0058: assign this device to a BOX enclosure (a device with
            deviceProfile='BOX') by its UUID, or send null to detach. The
            referenced box must exist in the same tenant and be a BOX; a BOX
            device may not itself have a boxId; a device may not reference
            itself.
      example:
        assetId: 455accf5-4aad-49e6-934f-97ae691b6c45
        name: SW QGBT_01_LEN2C37 - Lamp 0
        type: OUTLET
        centralId: a77ac87c-addd-4172-a65f-0f6f6038e98e
        slaveId: 1
        channel: 0
        deviceChannelType: lamp
        deviceProfile: SW_ILUMINACAO

    # Rule Schemas
    # ── Decision Engine Guard Configs ──────────────────────────────────
    DedupGuardConfig:
      type: object
      description: Deduplication guard - suppresses duplicate alarms within a time window
      required: [enabled, ttlSeconds]
      properties:
        enabled:
          type: boolean
        ttlSeconds:
          type: integer
          minimum: 1
          description: Time window in seconds to consider duplicates (default 300)

    CooldownGuardConfig:
      type: object
      description: Cooldown guard - minimum time between notifications
      required: [enabled, seconds, perChannel]
      properties:
        enabled:
          type: boolean
        seconds:
          type: integer
          minimum: 1
          description: Minimum seconds between notifications (default 60)
        perChannel:
          type: boolean
          description: If true, cooldown is tracked per dispatch channel

    HysteresisGuardConfig:
      type: object
      description: Hysteresis guard - prevents flapping by limiting state transitions
      required: [enabled, windowSeconds, maxTransitions]
      properties:
        enabled:
          type: boolean
        windowSeconds:
          type: integer
          minimum: 1
          description: Time window in seconds to count transitions (default 120)
        maxTransitions:
          type: integer
          minimum: 1
          description: Max state changes before suppression (default 3)

    DigestGuardConfig:
      type: object
      description: Digest guard - aggregates multiple alarms into a single notification
      required: [enabled, windowSeconds, threshold]
      properties:
        enabled:
          type: boolean
        windowSeconds:
          type: integer
          minimum: 1
          description: Digest aggregation window in seconds (default 600)
        threshold:
          type: integer
          minimum: 1
          description: Min alarms in window to trigger digest (default 5)

    # ── Alarm Threshold Config ─────────────────────────────────────────
    AlarmThresholdConfig:
      type: object
      description: Configuration for ALARM_THRESHOLD rules
      required: [metric, operator, value]
      properties:
        metric:
          type: string
          description: "Metric domain (e.g. temperature, humidity, instantaneous_power, energy_consumption, water_flow, sensor, presence_sensor, door_sensor, lamp)"
        operator:
          type: string
          enum: [GT, GTE, LT, LTE, EQ, NEQ, BETWEEN, OUTSIDE]
        value:
          type: number
          description: Threshold value (lower bound for BETWEEN/OUTSIDE)
        valueHigh:
          type: number
          nullable: true
          description: Upper bound for BETWEEN/OUTSIDE operators
        unit:
          type: string
          description: "Unit of measurement (e.g. °C, %, W, Wh, l)"
        hysteresis:
          type: number
          minimum: 0
          description: Tolerance band to prevent flapping (threshold tolerance, not guard)
        hysteresisType:
          type: string
          enum: [PERCENTAGE, ABSOLUTE]
        duration:
          type: number
          minimum: 0
          description: Seconds the condition must persist before triggering
        aggregation:
          type: string
          enum: [AVG, MIN, MAX, SUM, COUNT, LAST]
        aggregationWindow:
          type: number
          minimum: 1
          description: Window in seconds for aggregation
        offset:
          type: object
          additionalProperties:
            type: number
          description: "Calibration offset per metric (e.g. { temp: -0.5, hum: 0 })"
        startAt:
          type: string
          pattern: '^([01]\d|2[0-3]):([0-5]\d)$'
          description: "Schedule start time HH:mm (e.g. 08:00)"
        endAt:
          type: string
          pattern: '^([01]\d|2[0-3]):([0-5]\d)$'
          description: "Schedule end time HH:mm (e.g. 18:00)"
        daysOfWeek:
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 6
          description: "Days when rule is active (0=Sun, 6=Sat)"
        channelId:
          type: integer
          minimum: 0
          description: Channel index for OUTLET/multi-channel devices (0, 1, 2...)
        keyMulti:
          type: number
          description: "Energy unit multiplier: 1 for W (default), 0.25 for Wh"
        dedup:
          $ref: '#/components/schemas/DedupGuardConfig'
        cooldown:
          $ref: '#/components/schemas/CooldownGuardConfig'
        hysteresisGuard:
          $ref: '#/components/schemas/HysteresisGuardConfig'
        digest:
          $ref: '#/components/schemas/DigestGuardConfig'

    # ── SLA Config ─────────────────────────────────────────────────────
    SLAConfig:
      type: object
      description: Configuration for SLA rules
      required: [metric, target, unit, period, calculationMethod]
      properties:
        metric:
          type: string
        target:
          type: number
        unit:
          type: string
          description: "e.g. percent, ms, count"
        period:
          type: string
          enum: [HOURLY, DAILY, WEEKLY, MONTHLY]
        calculationMethod:
          type: string
          enum: [AVAILABILITY, RESPONSE_TIME, ERROR_RATE, THROUGHPUT, CUSTOM]
        excludeMaintenanceWindows:
          type: boolean
        breachNotification:
          type: boolean
        warningThreshold:
          type: number
          minimum: 0
          maximum: 100
          description: Percentage of target to trigger warning

    # ── Escalation Config ──────────────────────────────────────────────
    EscalationLevel:
      type: object
      required: [level, delayMinutes, notifyChannels]
      properties:
        level:
          type: integer
          minimum: 1
        delayMinutes:
          type: integer
          minimum: 0
        notifyChannels:
          type: array
          items:
            type: string
          minItems: 1
        notifyUsers:
          type: array
          items:
            type: string
        notifyGroups:
          type: array
          items:
            type: string
        autoAcknowledge:
          type: boolean
        repeatInterval:
          type: integer
          minimum: 1
          description: Minutes between repeat notifications
        maxRepeats:
          type: integer
          minimum: 0

    EscalationConfig:
      type: object
      description: Configuration for ESCALATION rules
      required: [levels]
      properties:
        levels:
          type: array
          items:
            $ref: '#/components/schemas/EscalationLevel'
          minItems: 1
        autoResolveAfterMinutes:
          type: integer
          minimum: 1
        businessHoursOnly:
          type: boolean
        businessHours:
          type: object
          properties:
            timezone:
              type: string
            start:
              type: string
              pattern: '^([01]\d|2[0-3]):([0-5]\d)$'
            end:
              type: string
              pattern: '^([01]\d|2[0-3]):([0-5]\d)$'
            workdays:
              type: array
              items:
                type: integer
                minimum: 0
                maximum: 6

    # ── Maintenance Window Config ──────────────────────────────────────
    MaintenanceWindowConfig:
      type: object
      description: Configuration for MAINTENANCE_WINDOW rules
      required: [startTime, timezone]
      properties:
        startTime:
          type: string
          description: ISO 8601 datetime or cron expression
        endTime:
          type: string
          description: ISO 8601 datetime (for one-time windows)
        duration:
          type: integer
          minimum: 1
          description: Duration in minutes (for recurring windows)
        recurrence:
          type: string
          enum: [ONCE, DAILY, WEEKLY, MONTHLY]
        recurrenceDays:
          type: array
          items:
            type: integer
          description: "Days of week (0-6) or days of month (1-31)"
        timezone:
          type: string
        suppressAlarms:
          type: boolean
        suppressNotifications:
          type: boolean
        affectedRules:
          type: array
          items:
            type: string
          description: Rule IDs to suppress (empty = all)

    # ── Notification Channel ───────────────────────────────────────────
    NotificationChannel:
      type: object
      required: [type, config]
      properties:
        type:
          type: string
          enum: [EMAIL, SMS, WEBHOOK, SLACK, TEAMS, PAGERDUTY, CUSTOM]
        config:
          type: object
          additionalProperties:
            type: string
        enabled:
          type: boolean
          default: true

    # ── Rule Scope ─────────────────────────────────────────────────────
    RuleScope:
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [GLOBAL, CUSTOMER, ASSET, DEVICE]
        entityId:
          type: string
          format: uuid
          description: Single entity for CUSTOMER, ASSET or single DEVICE scope
        entityIds:
          type: array
          items:
            type: string
            format: uuid
          description: Multiple device IDs — used when one rule applies to many devices (scope_type = DEVICE)
        inherited:
          type: boolean
          description: If true, rule applies to all children of the entity

    # ── Rule Entity ────────────────────────────────────────────────────
    Rule:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [ALARM_THRESHOLD, SLA, ESCALATION, MAINTENANCE_WINDOW]
        priority:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
        scope:
          $ref: '#/components/schemas/RuleScope'
        alarmConfig:
          $ref: '#/components/schemas/AlarmThresholdConfig'
        slaConfig:
          $ref: '#/components/schemas/SLAConfig'
        escalationConfig:
          $ref: '#/components/schemas/EscalationConfig'
        maintenanceConfig:
          $ref: '#/components/schemas/MaintenanceWindowConfig'
        notificationChannels:
          type: array
          items:
            $ref: '#/components/schemas/NotificationChannel'
        tags:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [ACTIVE, INACTIVE, SUSPENDED]
        enabled:
          type: boolean
        lastTriggeredAt:
          type: string
          format: date-time
        triggerCount:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # ── Create Rule DTO ────────────────────────────────────────────────
    CreateRule:
      type: object
      required:
        - customerId
        - name
        - type
        - scope
      properties:
        customerId:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 1000
        type:
          type: string
          enum: [ALARM_THRESHOLD, SLA, ESCALATION, MAINTENANCE_WINDOW]
        priority:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
          default: MEDIUM
        scope:
          $ref: '#/components/schemas/RuleScope'
        alarmConfig:
          $ref: '#/components/schemas/AlarmThresholdConfig'
        slaConfig:
          $ref: '#/components/schemas/SLAConfig'
        escalationConfig:
          $ref: '#/components/schemas/EscalationConfig'
        maintenanceConfig:
          $ref: '#/components/schemas/MaintenanceWindowConfig'
        notificationChannels:
          type: array
          items:
            $ref: '#/components/schemas/NotificationChannel'
        tags:
          type: array
          items:
            type: string
          default: []
        enabled:
          type: boolean
          default: true
      description: |
        The correct config must be provided based on type:
        - ALARM_THRESHOLD → alarmConfig (required)
        - SLA → slaConfig (required)
        - ESCALATION → escalationConfig (required)
        - MAINTENANCE_WINDOW → maintenanceConfig (required)

    # ── Update Rule DTO ────────────────────────────────────────────────
    UpdateRule:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 1000
        priority:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
        scope:
          $ref: '#/components/schemas/RuleScope'
        alarmConfig:
          $ref: '#/components/schemas/AlarmThresholdConfig'
        slaConfig:
          $ref: '#/components/schemas/SLAConfig'
        escalationConfig:
          $ref: '#/components/schemas/EscalationConfig'
        maintenanceConfig:
          $ref: '#/components/schemas/MaintenanceWindowConfig'
        notificationChannels:
          type: array
          items:
            $ref: '#/components/schemas/NotificationChannel'
        tags:
          type: array
          items:
            type: string
        enabled:
          type: boolean

    # ── Toggle Rule DTO ────────────────────────────────────────────────
    ToggleRule:
      type: object
      required: [enabled]
      properties:
        enabled:
          type: boolean
        reason:
          type: string
          maxLength: 500

    # ── Evaluate Rule DTO ──────────────────────────────────────────────
    EvaluateRuleRequest:
      type: object
      required:
        - ruleId
        - sampleData
      properties:
        ruleId:
          type: string
        sampleData:
          type: object
          description: Sample telemetry data to evaluate the rule against

    # Integration Package Schemas
    IntegrationPackage:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        publisherId:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        longDescription:
          type: string
        category:
          type: string
        type:
          type: string
          enum: [INBOUND, OUTBOUND, BIDIRECTIONAL]
        status:
          type: string
          enum: [DRAFT, PENDING_REVIEW, PUBLISHED, SUSPENDED, DEPRECATED]
        version:
          type: string
        scopes:
          type: array
          items:
            type: string
        capabilities:
          type: array
          items:
            $ref: '#/components/schemas/Capability'
        endpoints:
          type: array
          items:
            $ref: '#/components/schemas/Endpoint'
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        auth:
          $ref: '#/components/schemas/AuthConfig'
        rateLimits:
          $ref: '#/components/schemas/RateLimitConfig'
        pricing:
          $ref: '#/components/schemas/Pricing'
        subscriberCount:
          type: integer
        verified:
          type: boolean
        tags:
          type: array
          items:
            type: string
        iconUrl:
          type: string
        documentationUrl:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Capability:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        requiredScopes:
          type: array
          items:
            type: string

    Endpoint:
      type: object
      properties:
        id:
          type: string
        method:
          type: string
          enum: [GET, POST, PUT, PATCH, DELETE]
        path:
          type: string
        description:
          type: string
        requiredScopes:
          type: array
          items:
            type: string
        rateLimit:
          $ref: '#/components/schemas/RateLimitConfig'

    Event:
      type: object
      properties:
        eventType:
          type: string
        description:
          type: string
        payloadSchema:
          type: object

    AuthConfig:
      type: object
      properties:
        type:
          type: string
          enum: [none, api_key, oauth2, basic, custom]
        config:
          type: object

    RateLimitConfig:
      type: object
      properties:
        requestsPerMinute:
          type: integer
        requestsPerDay:
          type: integer
        monthlyQuota:
          type: integer

    Pricing:
      type: object
      properties:
        model:
          type: string
          enum: [FREE, PER_REQUEST, MONTHLY, ANNUAL, CUSTOM]
        price:
          type: number
        currency:
          type: string
        includedRequests:
          type: integer
        overagePrice:
          type: number

    CreatePackage:
      type: object
      required:
        - name
        - slug
        - description
        - type
        - scopes
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
        slug:
          type: string
          minLength: 3
          maxLength: 50
          pattern: '^[a-z0-9-]+$'
        description:
          type: string
          minLength: 10
          maxLength: 500
        longDescription:
          type: string
          maxLength: 5000
        category:
          type: string
        tags:
          type: array
          items:
            type: string
        iconUrl:
          type: string
          format: uri
        documentationUrl:
          type: string
          format: uri
        type:
          type: string
          enum: [INBOUND, OUTBOUND, BIDIRECTIONAL]
        scopes:
          type: array
          items:
            type: string
          minItems: 1
        capabilities:
          type: array
          items:
            $ref: '#/components/schemas/Capability'
        endpoints:
          type: array
          items:
            $ref: '#/components/schemas/Endpoint'
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        auth:
          $ref: '#/components/schemas/AuthConfig'
        rateLimits:
          $ref: '#/components/schemas/RateLimitConfig'
        pricing:
          $ref: '#/components/schemas/Pricing'

    PublishVersion:
      type: object
      required:
        - version
        - releaseNotes
      properties:
        version:
          type: string
          pattern: '^\d+\.\d+\.\d+$'
        releaseNotes:
          type: string
          minLength: 10
          maxLength: 2000
        breaking:
          type: boolean
          default: false

    SubscribePackage:
      type: object
      required:
        - packageId
      properties:
        packageId:
          type: string
          format: uuid
        version:
          type: string
        config:
          type: object

    Subscription:
      type: object
      properties:
        id:
          type: string
          format: uuid
        subscriberId:
          type: string
          format: uuid
        packageId:
          type: string
          format: uuid
        version:
          type: string
        status:
          type: string
          enum: [ACTIVE, SUSPENDED, CANCELLED]
        config:
          type: object
        createdAt:
          type: string
          format: date-time

    # Central Schemas
    Central:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        assetId:
          type: string
          format: uuid
        name:
          type: string
        displayName:
          type: string
        serialNumber:
          type: string
        type:
          type: string
          enum: [NODEHUB, GATEWAY, EDGE_CONTROLLER, VIRTUAL]
        status:
          type: string
          enum: [ACTIVE, INACTIVE, DELETED]
        connectionStatus:
          type: string
          enum: [ONLINE, OFFLINE, DEGRADED, MAINTENANCE]
        firmwareVersion:
          type: string
        softwareVersion:
          type: string
        config:
          $ref: '#/components/schemas/CentralConfig'
        location:
          $ref: '#/components/schemas/Location'
        stats:
          $ref: '#/components/schemas/CentralStats'
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
        lastHeartbeat:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CentralConfig:
      type: object
      properties:
        ipAddress:
          type: string
        macAddress:
          type: string
        hostname:
          type: string
        port:
          type: integer
        syncInterval:
          type: integer
        offlineBufferSize:
          type: integer
        enableLocalProcessing:
          type: boolean
        enableOfflineMode:
          type: boolean
        enableAutoUpdate:
          type: boolean
        maxDevices:
          type: integer
        maxRules:
          type: integer
        customSettings:
          type: object

    Location:
      type: object
      properties:
        latitude:
          type: number
          minimum: -90
          maximum: 90
        longitude:
          type: number
          minimum: -180
          maximum: 180
        altitude:
          type: number

    CentralStats:
      type: object
      properties:
        connectedDevices:
          type: integer
        activeRules:
          type: integer
        pendingSyncEvents:
          type: integer
        uptimeSeconds:
          type: integer
        cpuUsage:
          type: number
        memoryUsage:
          type: number
        diskUsage:
          type: number

    CreateCentral:
      type: object
      required:
        - customerId
        - assetId
        - name
        - displayName
        - serialNumber
        - type
      properties:
        customerId:
          type: string
          format: uuid
        assetId:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 255
        displayName:
          type: string
          minLength: 1
          maxLength: 255
        serialNumber:
          type: string
          minLength: 1
          maxLength: 100
        type:
          type: string
          enum: [NODEHUB, GATEWAY, EDGE_CONTROLLER, VIRTUAL]
        firmwareVersion:
          type: string
          maxLength: 50
        softwareVersion:
          type: string
          maxLength: 50
        config:
          $ref: '#/components/schemas/CentralConfig'
        location:
          $ref: '#/components/schemas/Location'
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object

    UpdateCentralStatus:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [ACTIVE, INACTIVE, DELETED]
        reason:
          type: string
          maxLength: 500

    UpdateConnectionStatus:
      type: object
      required:
        - connectionStatus
      properties:
        connectionStatus:
          type: string
          enum: [ONLINE, OFFLINE, DEGRADED, MAINTENANCE]
        stats:
          $ref: '#/components/schemas/CentralStats'

    # Theme Schemas
    Theme:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        isDefault:
          type: boolean
        mode:
          type: string
          enum: [light, dark, system]
        colors:
          $ref: '#/components/schemas/ColorPalette'
        darkModeColors:
          $ref: '#/components/schemas/ColorPalette'
        typography:
          $ref: '#/components/schemas/Typography'
        logo:
          $ref: '#/components/schemas/LogoConfig'
        brandName:
          type: string
        tagline:
          type: string
        layout:
          $ref: '#/components/schemas/LayoutConfig'
        components:
          $ref: '#/components/schemas/ComponentStyles'
        customCss:
          $ref: '#/components/schemas/CustomCSS'
        inheritFromParent:
          type: boolean
        parentThemeId:
          type: string
          format: uuid
        metadata:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ColorPalette:
      type: object
      properties:
        primary:
          type: string
          pattern: '^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$'
        primaryLight:
          type: string
        primaryDark:
          type: string
        secondary:
          type: string
        secondaryLight:
          type: string
        secondaryDark:
          type: string
        accent:
          type: string
        background:
          type: string
        surface:
          type: string
        error:
          type: string
        warning:
          type: string
        success:
          type: string
        info:
          type: string
        textPrimary:
          type: string
        textSecondary:
          type: string
        textDisabled:
          type: string
        divider:
          type: string

    Typography:
      type: object
      properties:
        fontFamily:
          type: string
        fontFamilySecondary:
          type: string
        fontSize:
          type: object
        fontWeight:
          type: object
        lineHeight:
          type: object

    LogoConfig:
      type: object
      properties:
        primaryUrl:
          type: string
          format: uri
        secondaryUrl:
          type: string
          format: uri
        iconUrl:
          type: string
          format: uri
        faviconUrl:
          type: string
          format: uri
        darkModeUrl:
          type: string
          format: uri
        width:
          type: integer
        height:
          type: integer

    LayoutConfig:
      type: object
      properties:
        sidebarPosition:
          type: string
          enum: [left, right]
        sidebarCollapsed:
          type: boolean
        headerHeight:
          type: integer
        footerHeight:
          type: integer
        maxContentWidth:
          type: integer
        borderRadius:
          type: object
        spacing:
          type: object

    ComponentStyles:
      type: object
      properties:
        buttons:
          type: object
        cards:
          type: object
        inputs:
          type: object
        tables:
          type: object

    CustomCSS:
      type: object
      properties:
        global:
          type: string
        header:
          type: string
        sidebar:
          type: string
        content:
          type: string
        footer:
          type: string

    CreateTheme:
      type: object
      required:
        - customerId
        - name
        - colors
        - logo
      properties:
        customerId:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        isDefault:
          type: boolean
          default: false
        mode:
          type: string
          enum: [light, dark, system]
          default: light
        colors:
          $ref: '#/components/schemas/ColorPalette'
        darkModeColors:
          $ref: '#/components/schemas/ColorPalette'
        typography:
          $ref: '#/components/schemas/Typography'
        logo:
          $ref: '#/components/schemas/LogoConfig'
        brandName:
          type: string
        tagline:
          type: string
        layout:
          $ref: '#/components/schemas/LayoutConfig'
        components:
          $ref: '#/components/schemas/ComponentStyles'
        customCss:
          $ref: '#/components/schemas/CustomCSS'
        inheritFromParent:
          type: boolean
        parentThemeId:
          type: string
          format: uuid
        metadata:
          type: object

    QuickThemeUpdate:
      type: object
      properties:
        primaryColor:
          type: string
          pattern: '^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$'
        secondaryColor:
          type: string
          pattern: '^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$'
        logoUrl:
          type: string
          format: uri
        faviconUrl:
          type: string
          format: uri
        brandName:
          type: string
        mode:
          type: string
          enum: [light, dark, system]

    # User Schemas
    ExternalLink:
      type: object
      required:
        - system
        - externalId
        - status
        - createdAt
        - updatedAt
      properties:
        system:
          type: string
          minLength: 1
          maxLength: 100
          description: 'Free-form identifier for the external system (e.g. thingsboard, freshdesk, app, os)'
          example: thingsboard
        externalId:
          type: string
          minLength: 1
          maxLength: 255
          description: ID of the entity in the external system
          example: 'a1b2c3d4-0000-0000-0000-000000000001'
        status:
          type: string
          enum: [synced, pending, error, disconnected]
          default: pending
        syncedAt:
          type: string
          format: date-time
          description: Timestamp of the last successful sync
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        version:
          type: integer
          minimum: 0
          description: Version of the record in the external system (for conflict detection)

    User:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        partnerId:
          type: string
          format: uuid
        email:
          type: string
          format: email
        username:
          type: string
        type:
          type: string
          enum: [INTERNAL, CUSTOMER, PARTNER, SERVICE_ACCOUNT]
        status:
          type: string
          enum: [UNVERIFIED, PENDING_APPROVAL, ACTIVE, INACTIVE, LOCKED]
        profile:
          $ref: '#/components/schemas/UserProfile'
        preferences:
          $ref: '#/components/schemas/UserPreferences'
        mfaEnabled:
          type: boolean
        emailVerified:
          type: boolean
        tags:
          type: array
          maxItems: 20
          items:
            type: string
            maxLength: 50
        metadata:
          type: object
        externalLinks:
          type: array
          items:
            $ref: '#/components/schemas/ExternalLink'
        lastLoginAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    UserProfile:
      type: object
      required:
        - firstName
        - lastName
      properties:
        firstName:
          type: string
          minLength: 1
          maxLength: 100
        lastName:
          type: string
          minLength: 1
          maxLength: 100
        displayName:
          type: string
          maxLength: 200
        avatarUrl:
          type: string
          format: uri
        phone:
          type: string
          maxLength: 20
        department:
          type: string
          maxLength: 100
        jobTitle:
          type: string
          maxLength: 100
        bio:
          type: string
          maxLength: 500

    UserPreferences:
      type: object
      properties:
        language:
          type: string
        timezone:
          type: string
        dateFormat:
          type: string
        timeFormat:
          type: string
          enum: ['12h', '24h']
        theme:
          type: string
          enum: [light, dark, system]
        notifications:
          $ref: '#/components/schemas/NotificationPreferences'
        dashboardLayout:
          type: object
        defaultCustomerId:
          type: string
          format: uuid
          nullable: true
          description: |
            Default customer scope for this user. When set, the backend uses it as
            fallback when a request does not specify a customer. The service validates
            that the user has an active role assignment matching `customer:<uuid>` or `*`.
            Set/cleared via `PUT /users/{id}/default-customer`.

    NotificationPreferences:
      type: object
      properties:
        email:
          type: boolean
        push:
          type: boolean
        sms:
          type: boolean
        inApp:
          type: boolean

    SetDefaultCustomerRequest:
      type: object
      required: [customerId]
      properties:
        customerId:
          type: string
          format: uuid
          nullable: true
          description: Customer UUID to set as default, or `null` to clear.

    EnrichedPolicy:
      type: object
      properties:
        key:
          type: string
        displayName:
          type: string
        description:
          type: string
        allow:
          type: array
          items: { type: string }
        deny:
          type: array
          items: { type: string }
        conditions:
          type: object
          nullable: true
          properties:
            requiresMFA: { type: boolean }
            onlyBusinessHours: { type: boolean }
            allowedDeviceTypes:
              type: array
              items: { type: string }
            ipAllowlist:
              type: array
              items: { type: string }
            maxSessionDuration: { type: number }
        riskLevel:
          type: string
          enum: [low, medium, high, critical]

    EnrichedRole:
      type: object
      properties:
        key:
          type: string
        displayName:
          type: string
        description:
          type: string
        riskLevel:
          type: string
          enum: [low, medium, high, critical]
        isSystem:
          type: boolean
        policies:
          type: array
          items:
            $ref: '#/components/schemas/EnrichedPolicy'

    EnrichedAssignment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        scope:
          type: string
          description: |
            Scope string like `customer:<uuid>`, `asset:<uuid>`, or `*` for global.
        status:
          type: string
          enum: [active, inactive, expired]
        grantedAt:
          type: string
          format: date-time
        grantedBy:
          type: string
          format: uuid
        expiresAt:
          type: string
          format: date-time
          nullable: true
        reason:
          type: string
          nullable: true
        role:
          nullable: true
          description: |
            Null when the assignment's `roleKey` no longer resolves to a role
            (orphan assignment — can happen if a role was deleted).
          $ref: '#/components/schemas/EnrichedRole'

    AuthMeResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        assignments:
          type: array
          items:
            $ref: '#/components/schemas/EnrichedAssignment'
        effectivePermissions:
          type: array
          items: { type: string }
          description: Flat list of permission strings this user effectively has (allow minus deny).
        deniedPatterns:
          type: array
          items: { type: string }
          description: Permission patterns explicitly denied (deny-wins).

    # ========================================================================
    # Access Bundle (RFC-0013)
    # ========================================================================

    BundleProfile:
      type: object
      properties:
        userId: { type: string, format: uuid }
        userEmail: { type: string, format: email }
        customerId: { type: string, format: uuid, nullable: true }
        customerName: { type: string, nullable: true }
        maintenanceGroup:
          type: object
          nullable: true
          properties:
            id: { type: string, format: uuid }
            key: { type: string }
            name: { type: string }

    BundleMetadata:
      type: object
      properties:
        generatedAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time }
        ttlSeconds: { type: integer }
        scope: { type: string }
        sourceRoles:
          type: array
          items: { type: string }
        sourcePolicies:
          type: array
          items: { type: string }
        checksum: { type: string }

    UserAccessBundle:
      type: object
      properties:
        version: { type: string, enum: ['1.0'] }
        profile:
          $ref: '#/components/schemas/BundleProfile'
        domainPolicies:
          type: object
          description: |
            Hierarchical `domain → equipment → location → { actions[], conditions? }`.
        featurePolicies:
          type: object
          description: |
            `featureKey → { access: guaranteed|granted|conditional|denied|not_granted, conditions?, expiresAt? }`.
        permissions:
          type: object
          properties:
            allowed:
              type: array
              items: { type: string }
            denied:
              type: array
              items: { type: string }
        metadata:
          $ref: '#/components/schemas/BundleMetadata'

    DomainPermission:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenantId: { type: string, format: uuid, nullable: true }
        domain: { type: string }
        equipment: { type: string }
        location: { type: string }
        action: { type: string }
        displayName: { type: string, nullable: true }
        description: { type: string, nullable: true }
        riskLevel: { type: string, enum: [low, medium, high, critical] }
        isActive: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreateDomainPermission:
      type: object
      required: [domain, equipment, location, action]
      properties:
        domain: { type: string, minLength: 2, maxLength: 50, pattern: '^[a-z][a-z0-9_]*$' }
        equipment: { type: string, minLength: 2, maxLength: 50, pattern: '^[a-z][a-z0-9_]*$' }
        location: { type: string, minLength: 2, maxLength: 50, pattern: '^[a-z][a-z0-9_]*$' }
        action: { type: string, minLength: 2, maxLength: 50, pattern: '^[a-z][a-z0-9_]*$' }
        displayName: { type: string, maxLength: 255 }
        description: { type: string, maxLength: 1000 }
        riskLevel:
          type: string
          enum: [low, medium, high, critical]
          default: low

    UpdateDomainPermission:
      type: object
      properties:
        displayName: { type: string, maxLength: 255, nullable: true }
        description: { type: string, maxLength: 1000, nullable: true }
        riskLevel: { type: string, enum: [low, medium, high, critical] }
        isActive: { type: boolean }

    CheckDomainPermissionRequest:
      type: object
      required: [domain, equipment, location, action]
      properties:
        domain: { type: string }
        equipment: { type: string }
        location: { type: string }
        action: { type: string }

    CheckMultipleDomainPermissionsRequest:
      type: object
      required: [permissions]
      properties:
        permissions:
          type: array
          minItems: 1
          maxItems: 50
          items:
            $ref: '#/components/schemas/CheckDomainPermissionRequest'

    # ========================================================================
    # Maintenance Groups (RFC-0013)
    # ========================================================================

    MaintenanceGroup:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenantId: { type: string, format: uuid }
        key: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        customerId: { type: string, format: uuid, nullable: true }
        memberCount: { type: integer }
        isActive: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    MaintenanceGroupMember:
      type: object
      properties:
        userId: { type: string, format: uuid }
        assignedAt: { type: string, format: date-time }
        assignedBy: { type: string, format: uuid, nullable: true }
        expiresAt: { type: string, format: date-time, nullable: true }

    CreateMaintenanceGroup:
      type: object
      required: [key, name]
      properties:
        key: { type: string, minLength: 3, maxLength: 100, pattern: '^[a-z][a-z0-9_:-]*$' }
        name: { type: string, minLength: 2, maxLength: 255 }
        description: { type: string, maxLength: 1000 }
        customerId: { type: string, format: uuid }

    UpdateMaintenanceGroup:
      type: object
      properties:
        name: { type: string, minLength: 2, maxLength: 255 }
        description: { type: string, maxLength: 1000, nullable: true }
        customerId: { type: string, format: uuid, nullable: true }
        isActive: { type: boolean }

    AddMaintenanceGroupMember:
      type: object
      required: [userId]
      properties:
        userId: { type: string, format: uuid }
        expiresAt: { type: string, format: date-time }

    AddMaintenanceGroupMembers:
      type: object
      required: [userIds]
      properties:
        userIds:
          type: array
          minItems: 1
          maxItems: 100
          items: { type: string, format: uuid }
        expiresAt: { type: string, format: date-time }

    RemoveMaintenanceGroupMembers:
      type: object
      required: [userIds]
      properties:
        userIds:
          type: array
          minItems: 1
          maxItems: 100
          items: { type: string, format: uuid }

    # ========================================================================
    # User Contacts (RFC-0024/0025)
    # ========================================================================

    ContactChannelType:
      type: string
      description: Notification channel type.
      enum: [EMAIL, SMS, TELEGRAM, WHATSAPP, SLACK, TEAMS, WEBHOOK, EMAIL_RELAY, CUSTOM]

    UserContactChannel:
      type: string
      description: >-
        Notification channel for a user contact (RFC-0025). For EMAIL the value
        must be a valid email; for WHATSAPP/SMS it must be an E.164 phone
        (e.g. +5527999999999). Other channels accept a free-form value.
      enum: [EMAIL, TELEGRAM, WHATSAPP, SMS, SLACK, TEAMS, CUSTOM]

    UserContact:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenantId: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        channel:
          $ref: '#/components/schemas/UserContactChannel'
        value: { type: string, description: 'email, chat_id, E.164 phone, URL, etc.' }
        label: { type: string, nullable: true }
        verified:
          type: boolean
          description: Read-only; contact verification is a future phase and cannot be set via the API.
        active: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreateUserContact:
      type: object
      required: [channel, value]
      properties:
        channel:
          $ref: '#/components/schemas/UserContactChannel'
        value: { type: string, minLength: 1, maxLength: 500 }
        label: { type: string, maxLength: 100 }
        active: { type: boolean, default: true }

    UpdateUserContact:
      type: object
      properties:
        value: { type: string, minLength: 1, maxLength: 500 }
        label: { type: string, maxLength: 100 }
        active: { type: boolean }

    # ========================================================================
    # Customer Channels (RFC-0024)
    # ========================================================================

    CustomerChannelType:
      type: string
      enum: [EMAIL_RELAY, TELEGRAM, WHATSAPP, WEBHOOK, SMS, SLACK, TEAMS, CUSTOM]

    CustomerChannel:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenantId: { type: string, format: uuid }
        customerId: { type: string, format: uuid }
        channel:
          $ref: '#/components/schemas/CustomerChannelType'
        active: { type: boolean }
        config:
          type: object
          description: Channel-specific credentials/config (opaque to clients that only list).
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreateCustomerChannel:
      type: object
      required: [channel]
      properties:
        channel:
          $ref: '#/components/schemas/CustomerChannelType'
        active: { type: boolean, default: true }
        config:
          type: object
          default: {}

    UpdateCustomerChannel:
      type: object
      properties:
        active: { type: boolean }
        config:
          type: object

    # ---- RFC-0057: Customer Config Document -------------------------------
    FeatureGroupFlags:
      type: object
      description: Three independent visibility toggles for one feature (2×3 matrix row).
      required: [entrada, areacomum, lojas]
      additionalProperties: false
      properties:
        entrada: { type: boolean }
        areacomum: { type: boolean }
        lojas: { type: boolean }
    FeatureButtons:
      type: object
      description: RFC-0057 DEC-3 — 2×3 checkbox matrix (2 features × 3 groups).
      required: [demandPeak, instantTelemetry]
      additionalProperties: false
      properties:
        demandPeak: { $ref: '#/components/schemas/FeatureGroupFlags' }
        instantTelemetry: { $ref: '#/components/schemas/FeatureGroupFlags' }
    FeatureButtonsPatch:
      type: object
      description: Partial 2×3 matrix for PATCH — any subset of features/groups (per-group merge).
      additionalProperties: false
      properties:
        demandPeak:
          type: object
          additionalProperties: false
          properties:
            entrada: { type: boolean }
            areacomum: { type: boolean }
            lojas: { type: boolean }
        instantTelemetry:
          type: object
          additionalProperties: false
          properties:
            entrada: { type: boolean }
            areacomum: { type: boolean }
            lojas: { type: boolean }
    CustomerConfigRead:
      type: object
      description: >-
        Normalized read model — all keys present (defaults filled, DEC-5);
        `ingestion.clientSecret` and `security.masterAdminPassword` are ALWAYS
        masked as "***" here and can never be written via /config.
      properties:
        version: { type: integer, example: 1 }
        featureButtons: { $ref: '#/components/schemas/FeatureButtons' }
        alarms:
          type: object
          properties:
            notificationsEnabled: { type: boolean }
            showOffline: { type: boolean }
            showInternalSupport: { type: boolean }
        tickets:
          type: object
          properties:
            enabled: { type: boolean }
            onlyToMyio: { type: boolean }
        temperature:
          type: object
          properties:
            min: { type: number }
            max: { type: number }
            clampMin: { type: number }
            clampMax: { type: number }
        display:
          type: object
          properties:
            measurementDisplaySettings: { nullable: true }
            mapInstantaneousPower: { nullable: true }
        defaultDashboard:
          type: object
          properties:
            id: { type: string, nullable: true }
            cfg: { nullable: true }
        classificationProfile: { nullable: true }
        locale:
          type: object
          properties:
            timezone: { type: string }
            locale: { type: string }
            currency: { type: string }
        theme:
          type: object
          properties:
            primaryColor: { type: string, nullable: true }
            secondaryColor: { type: string, nullable: true }
        ingestion:
          type: object
          properties:
            clientId: { type: string, nullable: true }
            clientSecret: { type: string, example: '***', description: Always masked. }
        security:
          type: object
          properties:
            masterAdminPassword: { type: string, example: '***', description: Always masked. }
        metadata:
          type: object
          additionalProperties: true
      example:
        version: 1
        featureButtons:
          demandPeak: { entrada: true, areacomum: true, lojas: false }
          instantTelemetry: { entrada: true, areacomum: true, lojas: false }
        alarms: { notificationsEnabled: true, showOffline: false, showInternalSupport: false }
        tickets: { enabled: false, onlyToMyio: true }
        temperature: { min: 18, max: 27, clampMin: 15, clampMax: 40 }
        display: { measurementDisplaySettings: null, mapInstantaneousPower: null }
        defaultDashboard: { id: null, cfg: null }
        classificationProfile: null
        locale: { timezone: America/Sao_Paulo, locale: pt-BR, currency: BRL }
        theme: { primaryColor: null, secondaryColor: null }
        ingestion: { clientId: myio-prod, clientSecret: '***' }
        security: { masterAdminPassword: '***' }
        metadata: { inaugurationDate: null, obs: '' }
    CustomerConfigWrite:
      type: object
      description: >-
        Full replace of the writable sections (PUT). Governed sections are
        strict — unknown keys 400. A scalar `null` is NOT accepted on governed
        sections in the MVP (P1.1). Secret fields (`ingestion.clientSecret`, any
        `security` section) are rejected here (use /config/secrets).
      additionalProperties: false
      properties:
        featureButtons: { $ref: '#/components/schemas/FeatureButtons' }
        alarms:
          type: object
          additionalProperties: false
          properties:
            notificationsEnabled: { type: boolean }
            showOffline: { type: boolean }
            showInternalSupport: { type: boolean }
        tickets:
          type: object
          additionalProperties: false
          properties:
            enabled: { type: boolean }
            onlyToMyio: { type: boolean }
        temperature:
          type: object
          additionalProperties: false
          properties:
            min: { type: number }
            max: { type: number }
            clampMin: { type: number }
            clampMax: { type: number }
        display:
          type: object
          additionalProperties: false
          properties:
            measurementDisplaySettings: {}
            mapInstantaneousPower: {}
        defaultDashboard:
          type: object
          additionalProperties: false
          properties:
            id: { type: string, nullable: true }
            cfg: {}
        classificationProfile: {}
        ingestion:
          type: object
          additionalProperties: false
          properties:
            clientId: { type: string }
        metadata:
          type: object
          additionalProperties: true
    CustomerConfigPatch:
      type: object
      description: >-
        Deep-merge of a subset (PATCH). `featureButtons` merges per group key;
        an empty `featureButtons` object is a no-op. Same strictness and
        null/secret rules as CustomerConfigWrite.
      additionalProperties: false
      properties:
        featureButtons: { $ref: '#/components/schemas/FeatureButtonsPatch' }
        alarms:
          type: object
          additionalProperties: false
          properties:
            notificationsEnabled: { type: boolean }
            showOffline: { type: boolean }
            showInternalSupport: { type: boolean }
        tickets:
          type: object
          additionalProperties: false
          properties:
            enabled: { type: boolean }
            onlyToMyio: { type: boolean }
        temperature:
          type: object
          additionalProperties: false
          properties:
            min: { type: number }
            max: { type: number }
            clampMin: { type: number }
            clampMax: { type: number }
        display:
          type: object
          additionalProperties: false
          properties:
            measurementDisplaySettings: {}
            mapInstantaneousPower: {}
        defaultDashboard:
          type: object
          additionalProperties: false
          properties:
            id: { type: string, nullable: true }
            cfg: {}
        classificationProfile: {}
        ingestion:
          type: object
          additionalProperties: false
          properties:
            clientId: { type: string }
        metadata:
          type: object
          additionalProperties: true
    CustomerConfigSecretsWrite:
      type: object
      description: >-
        Secrets write body (DEC-7). A string sets & encrypts at rest; `null`
        clears; the masked sentinel "***" is rejected (400).
      additionalProperties: false
      properties:
        ingestion:
          type: object
          additionalProperties: false
          properties:
            clientSecret: { type: string, nullable: true }
        security:
          type: object
          additionalProperties: false
          properties:
            masterAdminPassword: { type: string, nullable: true }
    CustomerConfigSecretsRevealed:
      type: object
      description: >-
        Decrypted secret values (audited reveal). Both sections are always
        present; each value is the plaintext or `null` when unset.
      properties:
        ingestion:
          type: object
          properties:
            clientSecret: { type: string, nullable: true }
        security:
          type: object
          properties:
            masterAdminPassword: { type: string, nullable: true }
      example:
        ingestion: { clientSecret: s3cr3t }
        security: { masterAdminPassword: null }

    CreateUser:
      type: object
      required:
        - email
        - profile
      properties:
        customerId:
          type: string
          format: uuid
        partnerId:
          type: string
          format: uuid
        email:
          type: string
          format: email
          maxLength: 255
        username:
          type: string
          minLength: 3
          maxLength: 50
        password:
          type: string
          minLength: 8
          maxLength: 100
        type:
          type: string
          enum: [INTERNAL, CUSTOMER, PARTNER, SERVICE_ACCOUNT]
          default: CUSTOMER
        profile:
          $ref: '#/components/schemas/UserProfile'
        preferences:
          $ref: '#/components/schemas/UserPreferences'
        tags:
          type: array
          maxItems: 20
          items:
            type: string
            maxLength: 50
        metadata:
          type: object
        externalLinks:
          type: array
          items:
            $ref: '#/components/schemas/ExternalLink'
        sendInvitation:
          type: boolean
          default: true

    UpdateUser:
      type: object
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 50
        profile:
          $ref: '#/components/schemas/UserProfile'
        preferences:
          $ref: '#/components/schemas/UserPreferences'
        tags:
          type: array
          maxItems: 20
          items:
            type: string
            maxLength: 50
        metadata:
          type: object
        externalLinks:
          type: array
          items:
            $ref: '#/components/schemas/ExternalLink'

    UpdateUserStatus:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [UNVERIFIED, PENDING_APPROVAL, ACTIVE, INACTIVE, LOCKED]
        reason:
          type: string
          maxLength: 500

    InviteUser:
      type: object
      required:
        - email
        - profile
      properties:
        email:
          type: string
          format: email
        customerId:
          type: string
          format: uuid
        type:
          type: string
          enum: [INTERNAL, CUSTOMER, PARTNER]
          default: CUSTOMER
        profile:
          type: object
          required:
            - firstName
            - lastName
          properties:
            firstName:
              type: string
            lastName:
              type: string
        roleKeys:
          type: array
          items:
            type: string
        message:
          type: string
          maxLength: 500

    AcceptInvitation:
      type: object
      required:
        - token
        - password
      properties:
        token:
          type: string
        password:
          type: string
          minLength: 8
          maxLength: 100
        profile:
          $ref: '#/components/schemas/UserProfile'

    ChangePassword:
      type: object
      required:
        - currentPassword
        - newPassword
      properties:
        currentPassword:
          type: string
        newPassword:
          type: string
          minLength: 8
[...]
