openapi: 3.0.3
info:
  title: GCDR API
  description: |
    API para o sistema GCDR (Global Customer Data Repository).
    Sistema multi-tenant para gerenciamento de clientes, assets, dispositivos, regras e integrações.
  version: 1.0.0
  contact:
    name: GCDR Team
  license:
    name: Proprietary

servers:
  - url: https://gcdr-server.apps.myio-bas.com
    description: Production
  - url: http://localhost:3015
    description: Local Development

tags:
  - name: Health
    description: Health check endpoints
  - name: Authentication
    description: User authentication (login, logout, MFA, password reset)
  - name: Customers
    description: Customer hierarchy management
  - name: Partners
    description: Partner management, API keys, OAuth clients, webhooks
  - name: Authorization
    description: Permission evaluation and role assignments
  - name: Roles
    description: Role management
  - name: Policies
    description: Policy management
  - name: Assets
    description: Asset hierarchy management
  - name: Devices
    description: Device management
  - name: Rules
    description: Business rules (alarms, SLA, escalation, maintenance)
  - name: Integrations
    description: Integration marketplace packages and subscriptions
  - name: Centrals
    description: Central/Gateway management
  - name: Themes
    description: Look and Feel customization
  - name: Users
    description: User management and authentication
  - name: Groups
    description: Group management for users, devices, and assets
  - name: Alarm Bundles
    description: Alarm rules bundle for Node-RED integration (M2M)
  - name: Audit Logs
    description: Audit logs for compliance and traceability
  - name: Customer API Keys
    description: API key management for customer integrations
  - name: Registration
    description: User self-registration and email verification (RFC-0011)
  - name: Admin Users
    description: Admin user management - approval, rejection, unlock (RFC-0011)

security:
  - bearerAuth: []
  - apiKeyAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    TenantId:
      name: x-tenant-id
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Tenant identifier for multi-tenancy
    PathId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Resource UUID
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Number of items per page
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
      description: Pagination cursor

  schemas:
    # Common Response Wrappers
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
      required:
        - success
        - data

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
      required:
        - success
        - error

    PaginatedResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            items:
              type: array
              items: {}
            cursor:
              type: string
              nullable: true
            hasMore:
              type: boolean

    SuccessMessageResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
      required:
        - success
        - message

    # Authentication Schemas
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: usuario@empresa.com
        password:
          type: string
          format: password
          minLength: 1
        mfaCode:
          type: string
          description: MFA code (if MFA is enabled)
          minLength: 6
          maxLength: 6
        deviceInfo:
          type: string
          description: Device information for session tracking

    LoginResponse:
      type: object
      properties:
        accessToken:
          type: string
          description: JWT access token
        refreshToken:
          type: string
          description: JWT refresh token
        tokenType:
          type: string
          enum: [Bearer]
        expiresIn:
          type: integer
          description: Access token expiry in seconds
          example: 3600
        refreshExpiresIn:
          type: integer
          description: Refresh token expiry in seconds
          example: 604800
        user:
          type: object
          properties:
            id:
              type: string
            email:
              type: string
            displayName:
              type: string
            type:
              type: string
            roles:
              type: array
              items:
                type: string

    MfaRequiredResponse:
      type: object
      properties:
        mfaRequired:
          type: boolean
          example: true
        mfaToken:
          type: string
          description: Temporary token to complete MFA verification
        mfaMethod:
          type: string
          enum: [totp, sms, email]
        expiresIn:
          type: integer
          description: MFA token expiry in seconds
          example: 300

    RefreshTokenRequest:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string

    TokenResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        tokenType:
          type: string
          enum: [Bearer]
        expiresIn:
          type: integer
        refreshExpiresIn:
          type: integer

    MfaVerifyRequest:
      type: object
      required:
        - mfaToken
        - code
      properties:
        mfaToken:
          type: string
          description: Temporary MFA token from login response
        code:
          type: string
          minLength: 6
          maxLength: 6
          description: MFA verification code
        useBackupCode:
          type: boolean
          default: false
          description: Set to true if using a backup code

    LogoutRequest:
      type: object
      properties:
        refreshToken:
          type: string
          description: Current refresh token to invalidate
        allDevices:
          type: boolean
          default: false
          description: Logout from all devices

    PasswordResetRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email

    PasswordResetConfirm:
      type: object
      required:
        - token
        - newPassword
      properties:
        token:
          type: string
          description: Password reset token from email
        newPassword:
          type: string
          format: password
          minLength: 8
          description: Must contain uppercase, lowercase, and number

    # Health
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        service:
          type: string
        version:
          type: string
        stage:
          type: string

    # Customer Schemas
    Customer:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        code:
          type: string
        name:
          type: string
        displayName:
          type: string
        type:
          type: string
          enum: [ROOT, RESELLER, ENTERPRISE, BUSINESS, INDIVIDUAL]
        status:
          type: string
          enum: [ACTIVE, INACTIVE, SUSPENDED, DELETED]
        parentCustomerId:
          type: string
          format: uuid
          nullable: true
        path:
          type: string
        depth:
          type: integer
        settings:
          $ref: '#/components/schemas/CustomerSettings'
        contact:
          $ref: '#/components/schemas/CustomerContact'
        address:
          $ref: '#/components/schemas/Address'
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CustomerSettings:
      type: object
      properties:
        timezone:
          type: string
        locale:
          type: string
        currency:
          type: string
        dateFormat:
          type: string
        maxUsers:
          type: integer
        maxAssets:
          type: integer
        maxDevices:
          type: integer
        features:
          type: object

    CustomerContact:
      type: object
      properties:
        email:
          type: string
          format: email
        phone:
          type: string
        alternativeEmail:
          type: string
          format: email
        alternativePhone:
          type: string

    Address:
      type: object
      properties:
        street:
          type: string
        number:
          type: string
        complement:
          type: string
        neighborhood:
          type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string

    CreateCustomer:
      type: object
      required:
        - code
        - name
        - displayName
        - type
      properties:
        code:
          type: string
          minLength: 2
          maxLength: 50
        name:
          type: string
          minLength: 2
          maxLength: 255
        displayName:
          type: string
          minLength: 2
          maxLength: 255
        type:
          type: string
          enum: [ROOT, RESELLER, ENTERPRISE, BUSINESS, INDIVIDUAL]
        parentCustomerId:
          type: string
          format: uuid
        settings:
          $ref: '#/components/schemas/CustomerSettings'
        contact:
          $ref: '#/components/schemas/CustomerContact'
        address:
          $ref: '#/components/schemas/Address'
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 20
        metadata:
          type: object

    UpdateCustomer:
      type: object
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 255
        displayName:
          type: string
          minLength: 2
          maxLength: 255
        type:
          type: string
          enum: [ROOT, RESELLER, ENTERPRISE, BUSINESS, INDIVIDUAL]
        settings:
          $ref: '#/components/schemas/CustomerSettings'
        contact:
          $ref: '#/components/schemas/CustomerContact'
        address:
          $ref: '#/components/schemas/Address'
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object

    MoveCustomer:
      type: object
      required:
        - newParentId
      properties:
        newParentId:
          type: string
          format: uuid

    # Partner Schemas
    Partner:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        name:
          type: string
        displayName:
          type: string
        type:
          type: string
          enum: [TECHNOLOGY, RESELLER, INTEGRATOR, OEM, DISTRIBUTOR, CONSULTING, OTHER]
        status:
          type: string
          enum: [PENDING, APPROVED, ACTIVE, SUSPENDED, REJECTED, TERMINATED]
        tier:
          type: string
          enum: [BRONZE, SILVER, GOLD, PLATINUM]
        contact:
          $ref: '#/components/schemas/PartnerContact'
        company:
          $ref: '#/components/schemas/CompanyInfo'
        capabilities:
          type: array
          items:
            type: string
        apiKeys:
          type: array
          items:
            $ref: '#/components/schemas/ApiKeyInfo'
        oauthClients:
          type: array
          items:
            $ref: '#/components/schemas/OAuthClientInfo'
        webhooks:
          type: array
          items:
            $ref: '#/components/schemas/WebhookInfo'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PartnerContact:
      type: object
      required:
        - name
        - email
      properties:
        name:
          type: string
          maxLength: 255
        email:
          type: string
          format: email
        phone:
          type: string
        position:
          type: string

    CompanyInfo:
      type: object
      required:
        - legalName
        - taxId
      properties:
        legalName:
          type: string
          maxLength: 255
        taxId:
          type: string
        website:
          type: string
          format: uri
        address:
          $ref: '#/components/schemas/Address'

    RegisterPartner:
      type: object
      required:
        - name
        - displayName
        - type
        - contact
        - company
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 255
        displayName:
          type: string
          minLength: 2
          maxLength: 255
        type:
          type: string
          enum: [TECHNOLOGY, RESELLER, INTEGRATOR, OEM, DISTRIBUTOR, CONSULTING, OTHER]
        contact:
          $ref: '#/components/schemas/PartnerContact'
        company:
          $ref: '#/components/schemas/CompanyInfo'
        capabilities:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object

    ApiKeyInfo:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        keyPrefix:
          type: string
        scopes:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [ACTIVE, REVOKED, EXPIRED]
        expiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    CreateApiKey:
      type: object
      required:
        - name
        - scopes
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
        scopes:
          type: array
          items:
            type: string
          minItems: 1
        expiresInDays:
          type: integer
          minimum: 1
          maximum: 365

    OAuthClientInfo:
      type: object
      properties:
        clientId:
          type: string
        name:
          type: string
        grantTypes:
          type: array
          items:
            type: string
        redirectUris:
          type: array
          items:
            type: string
        scopes:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [ACTIVE, REVOKED]
        createdAt:
          type: string
          format: date-time

    CreateOAuthClient:
      type: object
      required:
        - name
        - grantTypes
        - scopes
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
        grantTypes:
          type: array
          items:
            type: string
            enum: [client_credentials, authorization_code, refresh_token]
          minItems: 1
        redirectUris:
          type: array
          items:
            type: string
            format: uri
        scopes:
          type: array
          items:
            type: string
          minItems: 1

    WebhookInfo:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [ACTIVE, INACTIVE, FAILED]
        createdAt:
          type: string
          format: date-time

    CreateWebhook:
      type: object
      required:
        - name
        - url
        - events
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
          minItems: 1
        secret:
          type: string
          minLength: 16
        headers:
          type: object
          additionalProperties:
            type: string

    # OAuth Token
    OAuthTokenRequest:
      type: object
      required:
        - grant_type
        - client_id
        - client_secret
      properties:
        grant_type:
          type: string
          enum: [client_credentials, authorization_code, refresh_token]
        client_id:
          type: string
        client_secret:
          type: string
        code:
          type: string
        redirect_uri:
          type: string
        refresh_token:
          type: string
        scope:
          type: string

    OAuthTokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
        refresh_token:
          type: string
        scope:
          type: string

    # Authorization Schemas
    EvaluatePermission:
      type: object
      required:
        - userId
        - permission
        - resourceScope
      properties:
        userId:
          type: string
        permission:
          type: string
          pattern: '^[a-z]+\.[a-z]+\.[a-z]+$'
        resourceScope:
          type: string

    EvaluateBatch:
      type: object
      required:
        - userId
        - resourceScope
        - permissions
      properties:
        userId:
          type: string
        resourceScope:
          type: string
        permissions:
          type: array
          items:
            type: string
            pattern: '^[a-z]+\.[a-z]+\.[a-z]+$'
          minItems: 1
          maxItems: 100

    PermissionResult:
      type: object
      properties:
        allowed:
          type: boolean
        permission:
          type: string
        reason:
          type: string

    # Role Schemas
    Role:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        key:
          type: string
        displayName:
          type: string
        description:
          type: string
        policies:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            type: string
        riskLevel:
          type: string
          enum: [low, medium, high, critical]
        isSystem:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateRole:
      type: object
      required:
        - key
        - displayName
        - policies
      properties:
        key:
          type: string
          pattern: '^[a-z][a-z0-9_]*$'
        displayName:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 1000
        policies:
          type: array
          items:
            type: string
          minItems: 1
        tags:
          type: array
          items:
            type: string
        riskLevel:
          type: string
          enum: [low, medium, high, critical]
          default: low

    UpdateRole:
      type: object
      properties:
        displayName:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 1000
        policies:
          type: array
          items:
            type: string
          minItems: 1
        tags:
          type: array
          items:
            type: string
        riskLevel:
          type: string
          enum: [low, medium, high, critical]

    # Policy Schemas
    Policy:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        key:
          type: string
        displayName:
          type: string
        description:
          type: string
        allow:
          type: array
          items:
            type: string
        deny:
          type: array
          items:
            type: string
        conditions:
          $ref: '#/components/schemas/PolicyConditions'
        riskLevel:
          type: string
          enum: [low, medium, high, critical]
        isSystem:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PolicyConditions:
      type: object
      properties:
        requiresMFA:
          type: boolean
        onlyBusinessHours:
          type: boolean
        allowedDeviceTypes:
          type: array
          items:
            type: string
        ipAllowlist:
          type: array
          items:
            type: string
        maxSessionDuration:
          type: integer

    CreatePolicy:
      type: object
      required:
        - key
        - displayName
      properties:
        key:
          type: string
          pattern: '^[a-z][a-z0-9_]*$'
        displayName:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 1000
        allow:
          type: array
          items:
            type: string
          default: []
        deny:
          type: array
          items:
            type: string
          default: []
        conditions:
          $ref: '#/components/schemas/PolicyConditions'
        riskLevel:
          type: string
          enum: [low, medium, high, critical]
          default: low

    # Role Assignment
    AssignRole:
      type: object
      required:
        - userId
        - roleKey
        - scope
      properties:
        userId:
          type: string
        roleKey:
          type: string
        scope:
          type: string
        expiresAt:
          type: string
          format: date-time
        reason:
          type: string
          maxLength: 500

    RoleAssignment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
        roleKey:
          type: string
        scope:
          type: string
        status:
          type: string
          enum: [ACTIVE, REVOKED, EXPIRED]
        expiresAt:
          type: string
          format: date-time
        assignedBy:
          type: string
        assignedAt:
          type: string
          format: date-time

    # Asset Schemas
    Asset:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        name:
          type: string
        displayName:
          type: string
        type:
          type: string
          enum: [SITE, BUILDING, FLOOR, ROOM, AREA, ZONE, EQUIPMENT, OTHER]
        status:
          type: string
          enum: [ACTIVE, INACTIVE, MAINTENANCE, DECOMMISSIONED]
        parentAssetId:
          type: string
          format: uuid
          nullable: true
        path:
          type: string
        depth:
          type: integer
        location:
          $ref: '#/components/schemas/AssetLocation'
        specs:
          $ref: '#/components/schemas/AssetSpecs'
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    AssetLocation:
      type: object
      properties:
        latitude:
          type: number
          minimum: -90
          maximum: 90
        longitude:
          type: number
          minimum: -180
          maximum: 180
        altitude:
          type: number
        address:
          $ref: '#/components/schemas/Address'
        floor:
          type: string
        room:
          type: string
        position:
          type: string

    AssetSpecs:
      type: object
      properties:
        area:
          type: number
        capacity:
          type: integer
        powerCapacity:
          type: number
        coolingCapacity:
          type: number
        custom:
          type: object

    CreateAsset:
      type: object
      required:
        - customerId
        - name
        - displayName
        - type
      properties:
        customerId:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 255
        displayName:
          type: string
          minLength: 1
          maxLength: 255
        type:
          type: string
          enum: [SITE, BUILDING, FLOOR, ROOM, AREA, ZONE, EQUIPMENT, OTHER]
        parentAssetId:
          type: string
          format: uuid
        location:
          $ref: '#/components/schemas/AssetLocation'
        specs:
          $ref: '#/components/schemas/AssetSpecs'
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 20
        metadata:
          type: object

    # Device Schemas
    Device:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        assetId:
          type: string
          format: uuid
        name:
          type: string
        displayName:
          type: string
        type:
          type: string
          enum: [SENSOR, ACTUATOR, CONTROLLER, GATEWAY, METER, CAMERA, HVAC, LIGHTING, ACCESS_CONTROL, OTHER]
        status:
          type: string
          enum: [ACTIVE, INACTIVE, MAINTENANCE, FAULTY, DECOMMISSIONED]
        serialNumber:
          type: string
        manufacturer:
          type: string
        model:
          type: string
        firmwareVersion:
          type: string
        connectivity:
          $ref: '#/components/schemas/DeviceConnectivity'
        specs:
          $ref: '#/components/schemas/DeviceSpecs'
        telemetry:
          $ref: '#/components/schemas/DeviceTelemetry'
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    DeviceConnectivity:
      type: object
      properties:
        protocol:
          type: string
          enum: [MQTT, HTTP, COAP, MODBUS, BACNET, ZIGBEE, ZWAVE, LORA, CUSTOM]
        status:
          type: string
          enum: [ONLINE, OFFLINE, DEGRADED, UNKNOWN]
        lastSeen:
          type: string
          format: date-time
        ipAddress:
          type: string
        macAddress:
          type: string
        signalStrength:
          type: integer

    DeviceSpecs:
      type: object
      properties:
        powerSource:
          type: string
          enum: [MAINS, BATTERY, SOLAR, POE]
        batteryLevel:
          type: integer
          minimum: 0
          maximum: 100
        dataPoints:
          type: array
          items:
            type: object
        capabilities:
          type: array
          items:
            type: string
        custom:
          type: object

    DeviceTelemetry:
      type: object
      properties:
        interval:
          type: integer
        lastValue:
          type: object
        lastTimestamp:
          type: string
          format: date-time

    CreateDevice:
      type: object
      required:
        - assetId
        - name
        - displayName
        - type
        - serialNumber
      properties:
        assetId:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 255
        displayName:
          type: string
          minLength: 1
          maxLength: 255
        type:
          type: string
          enum: [SENSOR, ACTUATOR, CONTROLLER, GATEWAY, METER, CAMERA, HVAC, LIGHTING, ACCESS_CONTROL, OTHER]
        serialNumber:
          type: string
          minLength: 1
          maxLength: 100
        manufacturer:
          type: string
          maxLength: 100
        model:
          type: string
          maxLength: 100
        firmwareVersion:
          type: string
          maxLength: 50
        connectivity:
          $ref: '#/components/schemas/DeviceConnectivity'
        specs:
          $ref: '#/components/schemas/DeviceSpecs'
        telemetry:
          $ref: '#/components/schemas/DeviceTelemetry'
        credentials:
          type: object
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object

    # Rule Schemas
    Rule:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [ALARM_THRESHOLD, SLA, ESCALATION, MAINTENANCE_WINDOW, AUTOMATION, NOTIFICATION]
        status:
          type: string
          enum: [ACTIVE, INACTIVE, DRAFT]
        priority:
          type: integer
          minimum: 1
          maximum: 100
        config:
          type: object
        scope:
          $ref: '#/components/schemas/RuleScope'
        schedule:
          $ref: '#/components/schemas/RuleSchedule'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/RuleAction'
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    RuleScope:
      type: object
      properties:
        assetIds:
          type: array
          items:
            type: string
            format: uuid
        deviceIds:
          type: array
          items:
            type: string
            format: uuid
        deviceTypes:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            type: string
        includeDescendants:
          type: boolean

    RuleSchedule:
      type: object
      properties:
        timezone:
          type: string
        activeDays:
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 6
        activeHours:
          type: object
          properties:
            start:
              type: string
            end:
              type: string
        exceptions:
          type: array
          items:
            type: object

    RuleAction:
      type: object
      properties:
        type:
          type: string
          enum: [NOTIFY, WEBHOOK, COMMAND, ESCALATE, LOG]
        config:
          type: object
        delay:
          type: integer
        retries:
          type: integer

    CreateRule:
      type: object
      required:
        - customerId
        - name
        - type
        - config
      properties:
        customerId:
          type: string
          format: uuid
        name:
          type: string
          minLength: 3
          maxLength: 255
        description:
          type: string
          maxLength: 1000
        type:
          type: string
          enum: [ALARM_THRESHOLD, SLA, ESCALATION, MAINTENANCE_WINDOW, AUTOMATION, NOTIFICATION]
        priority:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        config:
          type: object
        scope:
          $ref: '#/components/schemas/RuleScope'
        schedule:
          $ref: '#/components/schemas/RuleSchedule'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/RuleAction'
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object

    EvaluateRuleRequest:
      type: object
      required:
        - customerId
        - deviceId
        - dataPoint
        - value
      properties:
        customerId:
          type: string
          format: uuid
        deviceId:
          type: string
          format: uuid
        dataPoint:
          type: string
        value:
          type: number
        timestamp:
          type: string
          format: date-time

    # Integration Package Schemas
    IntegrationPackage:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        publisherId:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        longDescription:
          type: string
        category:
          type: string
        type:
          type: string
          enum: [INBOUND, OUTBOUND, BIDIRECTIONAL]
        status:
          type: string
          enum: [DRAFT, PENDING_REVIEW, PUBLISHED, SUSPENDED, DEPRECATED]
        version:
          type: string
        scopes:
          type: array
          items:
            type: string
        capabilities:
          type: array
          items:
            $ref: '#/components/schemas/Capability'
        endpoints:
          type: array
          items:
            $ref: '#/components/schemas/Endpoint'
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        auth:
          $ref: '#/components/schemas/AuthConfig'
        rateLimits:
          $ref: '#/components/schemas/RateLimitConfig'
        pricing:
          $ref: '#/components/schemas/Pricing'
        subscriberCount:
          type: integer
        verified:
          type: boolean
        tags:
          type: array
          items:
            type: string
        iconUrl:
          type: string
        documentationUrl:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Capability:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        requiredScopes:
          type: array
          items:
            type: string

    Endpoint:
      type: object
      properties:
        id:
          type: string
        method:
          type: string
          enum: [GET, POST, PUT, PATCH, DELETE]
        path:
          type: string
        description:
          type: string
        requiredScopes:
          type: array
          items:
            type: string
        rateLimit:
          $ref: '#/components/schemas/RateLimitConfig'

    Event:
      type: object
      properties:
        eventType:
          type: string
        description:
          type: string
        payloadSchema:
          type: object

    AuthConfig:
      type: object
      properties:
        type:
          type: string
          enum: [none, api_key, oauth2, basic, custom]
        config:
          type: object

    RateLimitConfig:
      type: object
      properties:
        requestsPerMinute:
          type: integer
        requestsPerDay:
          type: integer
        monthlyQuota:
          type: integer

    Pricing:
      type: object
      properties:
        model:
          type: string
          enum: [FREE, PER_REQUEST, MONTHLY, ANNUAL, CUSTOM]
        price:
          type: number
        currency:
          type: string
        includedRequests:
          type: integer
        overagePrice:
          type: number

    CreatePackage:
      type: object
      required:
        - name
        - slug
        - description
        - type
        - scopes
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
        slug:
          type: string
          minLength: 3
          maxLength: 50
          pattern: '^[a-z0-9-]+$'
        description:
          type: string
          minLength: 10
          maxLength: 500
        longDescription:
          type: string
          maxLength: 5000
        category:
          type: string
        tags:
          type: array
          items:
            type: string
        iconUrl:
          type: string
          format: uri
        documentationUrl:
          type: string
          format: uri
        type:
          type: string
          enum: [INBOUND, OUTBOUND, BIDIRECTIONAL]
        scopes:
          type: array
          items:
            type: string
          minItems: 1
        capabilities:
          type: array
          items:
            $ref: '#/components/schemas/Capability'
        endpoints:
          type: array
          items:
            $ref: '#/components/schemas/Endpoint'
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        auth:
          $ref: '#/components/schemas/AuthConfig'
        rateLimits:
          $ref: '#/components/schemas/RateLimitConfig'
        pricing:
          $ref: '#/components/schemas/Pricing'

    PublishVersion:
      type: object
      required:
        - version
        - releaseNotes
      properties:
        version:
          type: string
          pattern: '^\d+\.\d+\.\d+$'
        releaseNotes:
          type: string
          minLength: 10
          maxLength: 2000
        breaking:
          type: boolean
          default: false

    SubscribePackage:
      type: object
      required:
        - packageId
      properties:
        packageId:
          type: string
          format: uuid
        version:
          type: string
        config:
          type: object

    Subscription:
      type: object
      properties:
        id:
          type: string
          format: uuid
        subscriberId:
          type: string
          format: uuid
        packageId:
          type: string
          format: uuid
        version:
          type: string
        status:
          type: string
          enum: [ACTIVE, SUSPENDED, CANCELLED]
        config:
          type: object
        createdAt:
          type: string
          format: date-time

    # Central Schemas
    Central:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        assetId:
          type: string
          format: uuid
        name:
          type: string
        displayName:
          type: string
        serialNumber:
          type: string
        type:
          type: string
          enum: [NODEHUB, GATEWAY, EDGE_CONTROLLER, VIRTUAL]
        status:
          type: string
          enum: [ACTIVE, INACTIVE, DELETED]
        connectionStatus:
          type: string
          enum: [ONLINE, OFFLINE, DEGRADED, MAINTENANCE]
        firmwareVersion:
          type: string
        softwareVersion:
          type: string
        config:
          $ref: '#/components/schemas/CentralConfig'
        location:
          $ref: '#/components/schemas/Location'
        stats:
          $ref: '#/components/schemas/CentralStats'
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
        lastHeartbeat:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CentralConfig:
      type: object
      properties:
        ipAddress:
          type: string
        macAddress:
          type: string
        hostname:
          type: string
        port:
          type: integer
        syncInterval:
          type: integer
        offlineBufferSize:
          type: integer
        enableLocalProcessing:
          type: boolean
        enableOfflineMode:
          type: boolean
        enableAutoUpdate:
          type: boolean
        maxDevices:
          type: integer
        maxRules:
          type: integer
        customSettings:
          type: object

    Location:
      type: object
      properties:
        latitude:
          type: number
          minimum: -90
          maximum: 90
        longitude:
          type: number
          minimum: -180
          maximum: 180
        altitude:
          type: number

    CentralStats:
      type: object
      properties:
        connectedDevices:
          type: integer
        activeRules:
          type: integer
        pendingSyncEvents:
          type: integer
        uptimeSeconds:
          type: integer
        cpuUsage:
          type: number
        memoryUsage:
          type: number
        diskUsage:
          type: number

    CreateCentral:
      type: object
      required:
        - customerId
        - assetId
        - name
        - displayName
        - serialNumber
        - type
      properties:
        customerId:
          type: string
          format: uuid
        assetId:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 255
        displayName:
          type: string
          minLength: 1
          maxLength: 255
        serialNumber:
          type: string
          minLength: 1
          maxLength: 100
        type:
          type: string
          enum: [NODEHUB, GATEWAY, EDGE_CONTROLLER, VIRTUAL]
        firmwareVersion:
          type: string
          maxLength: 50
        softwareVersion:
          type: string
          maxLength: 50
        config:
          $ref: '#/components/schemas/CentralConfig'
        location:
          $ref: '#/components/schemas/Location'
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object

    UpdateCentralStatus:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [ACTIVE, INACTIVE, DELETED]
        reason:
          type: string
          maxLength: 500

    UpdateConnectionStatus:
      type: object
      required:
        - connectionStatus
      properties:
        connectionStatus:
          type: string
          enum: [ONLINE, OFFLINE, DEGRADED, MAINTENANCE]
        stats:
          $ref: '#/components/schemas/CentralStats'

    # Theme Schemas
    Theme:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        isDefault:
          type: boolean
        mode:
          type: string
          enum: [light, dark, system]
        colors:
          $ref: '#/components/schemas/ColorPalette'
        darkModeColors:
          $ref: '#/components/schemas/ColorPalette'
        typography:
          $ref: '#/components/schemas/Typography'
        logo:
          $ref: '#/components/schemas/LogoConfig'
        brandName:
          type: string
        tagline:
          type: string
        layout:
          $ref: '#/components/schemas/LayoutConfig'
        components:
          $ref: '#/components/schemas/ComponentStyles'
        customCss:
          $ref: '#/components/schemas/CustomCSS'
        inheritFromParent:
          type: boolean
        parentThemeId:
          type: string
          format: uuid
        metadata:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ColorPalette:
      type: object
      properties:
        primary:
          type: string
          pattern: '^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$'
        primaryLight:
          type: string
        primaryDark:
          type: string
        secondary:
          type: string
        secondaryLight:
          type: string
        secondaryDark:
          type: string
        accent:
          type: string
        background:
          type: string
        surface:
          type: string
        error:
          type: string
        warning:
          type: string
        success:
          type: string
        info:
          type: string
        textPrimary:
          type: string
        textSecondary:
          type: string
        textDisabled:
          type: string
        divider:
          type: string

    Typography:
      type: object
      properties:
        fontFamily:
          type: string
        fontFamilySecondary:
          type: string
        fontSize:
          type: object
        fontWeight:
          type: object
        lineHeight:
          type: object

    LogoConfig:
      type: object
      properties:
        primaryUrl:
          type: string
          format: uri
        secondaryUrl:
          type: string
          format: uri
        iconUrl:
          type: string
          format: uri
        faviconUrl:
          type: string
          format: uri
        darkModeUrl:
          type: string
          format: uri
        width:
          type: integer
        height:
          type: integer

    LayoutConfig:
      type: object
      properties:
        sidebarPosition:
          type: string
          enum: [left, right]
        sidebarCollapsed:
          type: boolean
        headerHeight:
          type: integer
        footerHeight:
          type: integer
        maxContentWidth:
          type: integer
        borderRadius:
          type: object
        spacing:
          type: object

    ComponentStyles:
      type: object
      properties:
        buttons:
          type: object
        cards:
          type: object
        inputs:
          type: object
        tables:
          type: object

    CustomCSS:
      type: object
      properties:
        global:
          type: string
        header:
          type: string
        sidebar:
          type: string
        content:
          type: string
        footer:
          type: string

    CreateTheme:
      type: object
      required:
        - customerId
        - name
        - colors
        - logo
      properties:
        customerId:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        isDefault:
          type: boolean
          default: false
        mode:
          type: string
          enum: [light, dark, system]
          default: light
        colors:
          $ref: '#/components/schemas/ColorPalette'
        darkModeColors:
          $ref: '#/components/schemas/ColorPalette'
        typography:
          $ref: '#/components/schemas/Typography'
        logo:
          $ref: '#/components/schemas/LogoConfig'
        brandName:
          type: string
        tagline:
          type: string
        layout:
          $ref: '#/components/schemas/LayoutConfig'
        components:
          $ref: '#/components/schemas/ComponentStyles'
        customCss:
          $ref: '#/components/schemas/CustomCSS'
        inheritFromParent:
          type: boolean
        parentThemeId:
          type: string
          format: uuid
        metadata:
          type: object

    QuickThemeUpdate:
      type: object
      properties:
        primaryColor:
          type: string
          pattern: '^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$'
        secondaryColor:
          type: string
          pattern: '^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$'
        logoUrl:
          type: string
          format: uri
        faviconUrl:
          type: string
          format: uri
        brandName:
          type: string
        mode:
          type: string
          enum: [light, dark, system]

    # User Schemas
    User:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        partnerId:
          type: string
          format: uuid
        email:
          type: string
          format: email
        username:
          type: string
        type:
          type: string
          enum: [INTERNAL, CUSTOMER, PARTNER, SERVICE_ACCOUNT]
        status:
          type: string
          enum: [ACTIVE, INACTIVE, SUSPENDED, PENDING_VERIFICATION, LOCKED]
        profile:
          $ref: '#/components/schemas/UserProfile'
        preferences:
          $ref: '#/components/schemas/UserPreferences'
        mfaEnabled:
          type: boolean
        emailVerified:
          type: boolean
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
        lastLoginAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    UserProfile:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        displayName:
          type: string
        avatarUrl:
          type: string
          format: uri
        phone:
          type: string
        department:
          type: string
        jobTitle:
          type: string
        bio:
          type: string

    UserPreferences:
      type: object
      properties:
        language:
          type: string
        timezone:
          type: string
        dateFormat:
          type: string
        timeFormat:
          type: string
          enum: ['12h', '24h']
        theme:
          type: string
          enum: [light, dark, system]
        notifications:
          $ref: '#/components/schemas/NotificationPreferences'
        dashboardLayout:
          type: object

    NotificationPreferences:
      type: object
      properties:
        email:
          type: boolean
        push:
          type: boolean
        sms:
          type: boolean
        inApp:
          type: boolean

    CreateUser:
      type: object
      required:
        - email
        - profile
      properties:
        customerId:
          type: string
          format: uuid
        partnerId:
          type: string
          format: uuid
        email:
          type: string
          format: email
          maxLength: 255
        username:
          type: string
          minLength: 3
          maxLength: 50
        password:
          type: string
          minLength: 8
          maxLength: 100
        type:
          type: string
          enum: [INTERNAL, CUSTOMER, PARTNER, SERVICE_ACCOUNT]
          default: CUSTOMER
        profile:
          $ref: '#/components/schemas/UserProfile'
        preferences:
          $ref: '#/components/schemas/UserPreferences'
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
        sendInvitation:
          type: boolean
          default: true

    UpdateUser:
      type: object
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 50
        profile:
          $ref: '#/components/schemas/UserProfile'
        preferences:
          $ref: '#/components/schemas/UserPreferences'
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object

    UpdateUserStatus:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [ACTIVE, INACTIVE, SUSPENDED]
        reason:
          type: string
          maxLength: 500

    InviteUser:
      type: object
      required:
        - email
        - profile
      properties:
        email:
          type: string
          format: email
        customerId:
          type: string
          format: uuid
        type:
          type: string
          enum: [INTERNAL, CUSTOMER, PARTNER]
          default: CUSTOMER
        profile:
          type: object
          required:
            - firstName
            - lastName
          properties:
            firstName:
              type: string
            lastName:
              type: string
        roleKeys:
          type: array
          items:
            type: string
        message:
          type: string
          maxLength: 500

    AcceptInvitation:
      type: object
      required:
        - token
        - password
      properties:
        token:
          type: string
        password:
          type: string
          minLength: 8
          maxLength: 100
        profile:
          $ref: '#/components/schemas/UserProfile'

    ChangePassword:
      type: object
      required:
        - currentPassword
        - newPassword
      properties:
        currentPassword:
          type: string
        newPassword:
          type: string
          minLength: 8
          maxLength: 100

    RequestPasswordReset:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email

    ResetPassword:
      type: object
      required:
        - token
        - newPassword
      properties:
        token:
          type: string
        newPassword:
          type: string
          minLength: 8
          maxLength: 100

    EnableMfa:
      type: object
      required:
        - method
      properties:
        method:
          type: string
          enum: [totp, sms, email]
        verificationCode:
          type: string
          minLength: 6
          maxLength: 6

    VerifyEmail:
      type: object
      required:
        - token
      properties:
        token:
          type: string

    # Groups
    Group:
      type: object
      properties:
        tenantId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        code:
          type: string
          description: Unique code within the customer
        name:
          type: string
        displayName:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [USER, DEVICE, ASSET, MIXED]
        purposes:
          type: array
          items:
            type: string
            enum: [NOTIFICATION, ESCALATION, ACCESS_CONTROL, REPORTING, MAINTENANCE, MONITORING, CUSTOM]
        members:
          type: array
          items:
            $ref: '#/components/schemas/GroupMember'
        memberCount:
          type: integer
        hierarchy:
          $ref: '#/components/schemas/GroupHierarchy'
        notificationSettings:
          $ref: '#/components/schemas/GroupNotificationSettings'
        metadata:
          type: object
          additionalProperties: true
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        createdBy:
          type: string
        updatedBy:
          type: string

    GroupMember:
      type: object
      required:
        - memberId
        - memberType
      properties:
        memberId:
          type: string
          format: uuid
        memberType:
          type: string
          enum: [USER, DEVICE, ASSET]
        addedAt:
          type: string
          format: date-time
        addedBy:
          type: string

    GroupHierarchy:
      type: object
      properties:
        parentGroupId:
          type: string
          format: uuid
          nullable: true
        path:
          type: string
          description: Materialized path (e.g., /root/parent/current)
        level:
          type: integer
          description: Depth in the hierarchy (0 = root)

    GroupNotificationSettings:
      type: object
      properties:
        channels:
          type: array
          items:
            type: string
            enum: [EMAIL, SMS, PUSH, WEBHOOK]
        escalationOrder:
          type: integer
        timePreferences:
          type: object
          properties:
            timezone:
              type: string
            quietHoursStart:
              type: string
            quietHoursEnd:
              type: string
            workingDays:
              type: array
              items:
                type: integer

    CreateGroup:
      type: object
      required:
        - customerId
        - name
        - type
      properties:
        customerId:
          type: string
          format: uuid
        code:
          type: string
        name:
          type: string
        displayName:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [USER, DEVICE, ASSET, MIXED]
        purposes:
          type: array
          items:
            type: string
            enum: [NOTIFICATION, ESCALATION, ACCESS_CONTROL, REPORTING, MAINTENANCE, MONITORING, CUSTOM]
        members:
          type: array
          items:
            $ref: '#/components/schemas/GroupMember'
        parentGroupId:
          type: string
          format: uuid
          nullable: true
        notificationSettings:
          $ref: '#/components/schemas/GroupNotificationSettings'
        metadata:
          type: object
          additionalProperties: true
        isActive:
          type: boolean
          default: true

    UpdateGroup:
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        description:
          type: string
        purposes:
          type: array
          items:
            type: string
            enum: [NOTIFICATION, ESCALATION, ACCESS_CONTROL, REPORTING, MAINTENANCE, MONITORING, CUSTOM]
        notificationSettings:
          $ref: '#/components/schemas/GroupNotificationSettings'
        metadata:
          type: object
          additionalProperties: true
        isActive:
          type: boolean

    AddGroupMembers:
      type: object
      required:
        - members
      properties:
        members:
          type: array
          items:
            $ref: '#/components/schemas/GroupMember'

    RemoveGroupMembers:
      type: object
      required:
        - memberIds
      properties:
        memberIds:
          type: array
          items:
            type: string
            format: uuid

    MoveGroup:
      type: object
      required:
        - parentGroupId
      properties:
        parentGroupId:
          type: string
          format: uuid
          nullable: true
          description: New parent group ID (null to move to root)

    GroupList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Group'
        nextCursor:
          type: string
          nullable: true

    # Alarm Bundle Schemas
    AlarmBundleResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/AlarmBundle'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    AlarmBundle:
      type: object
      properties:
        versionId:
          type: string
          description: Bundle version hash
        deviceIndex:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DeviceMapping'
        rulesByDeviceType:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/BundleAlarmRule'
        rules:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/BundleAlarmRule'

    DeviceMapping:
      type: object
      properties:
        deviceId:
          type: string
          format: uuid
        deviceName:
          type: string
        deviceType:
          type: string
        domain:
          type: string
        serialNumber:
          type: string
        externalId:
          type: string
        centralId:
          type: string
          format: uuid
        slaveId:
          type: integer
          minimum: 1
          maximum: 247
        ruleIds:
          type: array
          items:
            type: string
            format: uuid

    BundleAlarmRule:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        priority:
          type: string
          enum: [CRITICAL, HIGH, MEDIUM, LOW, INFO]
        metric:
          type: string
        operator:
          type: string
          enum: [EQ, NE, GT, GE, LT, LE, BETWEEN, OUTSIDE]
        value:
          type: number
        valueHigh:
          type: number
        unit:
          type: string
        duration:
          type: integer
        hysteresis:
          type: number
        aggregation:
          type: string
          enum: [AVG, MIN, MAX, SUM, COUNT, LAST]
        enabled:
          type: boolean
        tags:
          type: array
          items:
            type: string

    SimpleAlarmBundleResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/SimpleAlarmBundle'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    SimpleAlarmBundle:
      type: object
      properties:
        versionId:
          type: string
        deviceIndex:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/SimpleDeviceMapping'
        rules:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/SimpleBundleRule'

    SimpleDeviceMapping:
      type: object
      properties:
        deviceName:
          type: string
        centralId:
          type: string
          format: uuid
        slaveId:
          type: integer
        ruleIds:
          type: array
          items:
            type: string

    SimpleBundleRule:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        value:
          type: number
        valueHigh:
          type: number
        duration:
          type: integer
        hysteresis:
          type: number
        aggregation:
          type: string
        offset:
          type: number
          description: Calibration offset for temperature metrics
        startAt:
          type: string
          pattern: '^[0-2][0-9]:[0-5][0-9]$'
          description: Schedule start time (HH:mm)
        endAt:
          type: string
          pattern: '^[0-2][0-9]:[0-5][0-9]$'
          description: Schedule end time (HH:mm)
        daysOfWeek:
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 6
          description: Days of week (0=Sunday, 6=Saturday)

    # Customer API Key Schemas
    CustomerApiKeyCreatedResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            key:
              type: string
              description: Full API key (shown only once)
            keyPrefix:
              type: string
            scopes:
              type: array
              items:
                type: string
            expiresAt:
              type: string
              format: date-time

    CustomerApiKeyResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/CustomerApiKey'

    CustomerApiKeyListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/CustomerApiKey'
            cursor:
              type: string
              nullable: true
            hasMore:
              type: boolean

    CustomerApiKey:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        keyPrefix:
          type: string
        scopes:
          type: array
          items:
            type: string
        expiresAt:
          type: string
          format: date-time
          nullable: true
        lastUsedAt:
          type: string
          format: date-time
          nullable: true
        lastUsedIp:
          type: string
          nullable: true
        usageCount:
          type: integer
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
          format: uuid

    CreateCustomerApiKey:
      type: object
      required:
        - name
        - scopes
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
        description:
          type: string
          maxLength: 500
        scopes:
          type: array
          items:
            type: string
          description: 'API scopes (e.g., bundles:read, rules:read, devices:read)'
        expiresAt:
          type: string
          format: date-time
          description: Optional expiration date

    # Audit Log Schemas
    AuditLogResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/AuditLog'

    AuditLogListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/AuditLog'
            cursor:
              type: string
              nullable: true
            hasMore:
              type: boolean

    AuditLog:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
          nullable: true
        userId:
          type: string
          format: uuid
          nullable: true
        actorType:
          type: string
          enum: [USER, SERVICE, SYSTEM, API_KEY]
        entityType:
          type: string
          description: Entity type (CUSTOMER, DEVICE, RULE, etc.)
        entityId:
          type: string
          format: uuid
          nullable: true
        action:
          type: string
          enum: [CREATE, READ, UPDATE, DELETE, LOGIN, LOGOUT, EXPORT]
        eventCategory:
          type: string
          enum: [AUTH, DATA, ADMIN, SYSTEM]
        description:
          type: string
        httpMethod:
          type: string
        httpPath:
          type: string
        statusCode:
          type: integer
        durationMs:
          type: integer
        previousValue:
          type: object
          nullable: true
        newValue:
          type: object
          nullable: true
        metadata:
          type: object
          additionalProperties: true
        ipAddress:
          type: string
        userAgent:
          type: string
        errorMessage:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    ResponseMeta:
      type: object
      properties:
        requestId:
          type: string
        timestamp:
          type: string
          format: date-time

paths:
  # Health
  /health:
    get:
      tags:
        - Health
      summary: Health check
      operationId: getHealth
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/HealthStatus'

  # Authentication
  /auth/login:
    post:
      tags: [Authentication]
      summary: User login
      description: |
        Authenticates a user with email and password.

        If MFA is enabled for the user, returns a temporary MFA token instead of access tokens.
        The client must then call `/auth/mfa/verify` to complete authentication.
      operationId: authLogin
      security: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful (or MFA required)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LoginResponse'
                  - $ref: '#/components/schemas/MfaRequiredResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      description: |
        Exchanges a valid refresh token for new access and refresh tokens.
        The old refresh token is invalidated.
      operationId: authRefresh
      security: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Tokens refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/mfa/verify:
    post:
      tags: [Authentication]
      summary: Verify MFA code
      description: |
        Completes the MFA verification step after login.
        Requires the temporary MFA token from the login response.
      operationId: authMfaVerify
      security: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MfaVerifyRequest'
      responses:
        '200':
          description: MFA verified, tokens issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid MFA code or token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Logout user
      description: |
        Invalidates the current session.
        Optionally invalidates all sessions for the user.
      operationId: authLogout
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutRequest'
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessageResponse'

  /auth/password/forgot:
    post:
      tags: [Authentication]
      summary: Request password reset
      description: |
        Sends a password reset email to the user.
        Always returns success to prevent email enumeration.
      operationId: authForgotPassword
      security: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
      responses:
        '200':
          description: Password reset email sent (if user exists)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessageResponse'

  /auth/forgot-password:
    post:
      tags: [Authentication]
      summary: Request password reset (RFC-0011)
      description: |
        Sends a 6-digit verification code to the user's email.
        Code expires in 15 minutes. Always returns success to prevent email enumeration.
      operationId: authForgotPasswordV2
      security: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Reset code sent (if user exists)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessageResponse'

  /auth/reset-password:
    post:
      tags: [Authentication]
      summary: Reset password with 6-digit code (RFC-0011)
      description: |
        Resets the user password using a 6-digit code received via email.
        If the account was locked, it will be automatically unlocked.
      operationId: authResetPasswordV2
      security: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code, newPassword]
              properties:
                email:
                  type: string
                  format: email
                code:
                  type: string
                  pattern: '^\d{6}$'
                  example: '123456'
                newPassword:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Password reset successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                      unlocked:
                        type: boolean
        '401':
          description: Invalid or expired code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # RFC-0011: User Registration
  /auth/register:
    post:
      tags: [Registration]
      summary: Self-service user registration
      description: |
        Creates a new user account with UNVERIFIED status.
        A 6-digit verification code is sent to the email (valid for 15 minutes).
      operationId: authRegister
      security: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, firstName, lastName]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                  description: Min 8 chars, 1 uppercase, 1 lowercase, 1 number, 1 special char
                firstName:
                  type: string
                  minLength: 2
                lastName:
                  type: string
                  minLength: 2
                phone:
                  type: string
                customerId:
                  type: string
                  format: uuid
      responses:
        '201':
          description: User created, verification code sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      userId:
                        type: string
                        format: uuid
                      email:
                        type: string
                      status:
                        type: string
                        enum: [UNVERIFIED]
                      message:
                        type: string
                      expiresIn:
                        type: integer
                        description: Code expiry in seconds
        '400':
          description: Validation error or email already in use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/verify-email:
    post:
      tags: [Registration]
      summary: Verify email with 6-digit code
      description: |
        Verifies the user's email address using the 6-digit code sent during registration.
        On success, user status changes from UNVERIFIED to PENDING_APPROVAL.
      operationId: authVerifyEmail
      security: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email:
                  type: string
                  format: email
                code:
                  type: string
                  pattern: '^\d{6}$'
                  example: '123456'
      responses:
        '200':
          description: Email verified, awaiting approval
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum: [PENDING_APPROVAL]
                      message:
                        type: string
        '401':
          description: Invalid or expired code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/resend-verification:
    post:
      tags: [Registration]
      summary: Resend verification code
      description: |
        Resends the 6-digit verification code to the user's email.
        Rate limited to 3 resends per hour.
      operationId: authResendVerification
      security: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Code resent (if user exists and is unverified)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessageResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # RFC-0011: Admin User Management
  /admin/users/pending-approval:
    get:
      tags: [Admin Users]
      summary: List users pending approval
      description: Returns all users with PENDING_APPROVAL status
      operationId: adminListPendingApproval
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: List of pending users
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            email:
                              type: string
                            firstName:
                              type: string
                            lastName:
                              type: string
                            registeredAt:
                              type: string
                              format: date-time
                            emailVerifiedAt:
                              type: string
                              format: date-time
                            registrationIp:
                              type: string
                      total:
                        type: integer

  /admin/users/locked:
    get:
      tags: [Admin Users]
      summary: List locked users
      description: Returns all users with LOCKED status
      operationId: adminListLocked
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: List of locked users
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            email:
                              type: string
                            firstName:
                              type: string
                            lastName:
                              type: string
                            lockedAt:
                              type: string
                              format: date-time
                            lockedReason:
                              type: string
                            lockoutCount:
                              type: integer
                            failedLoginAttempts:
                              type: integer
                      total:
                        type: integer

  /admin/users/{userId}/approve:
    post:
      tags: [Admin Users]
      summary: Approve user registration
      description: Changes user status from PENDING_APPROVAL to ACTIVE
      operationId: adminApproveUser
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                assignRoles:
                  type: array
                  items:
                    type: string
                customerId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: User approved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      userId:
                        type: string
                        format: uuid
                      status:
                        type: string
                        enum: [ACTIVE]
                      message:
                        type: string

  /admin/users/{userId}/reject:
    post:
      tags: [Admin Users]
      summary: Reject user registration
      description: Changes user status from PENDING_APPROVAL to INACTIVE
      operationId: adminRejectUser
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  minLength: 1
      responses:
        '200':
          description: User rejected
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      userId:
                        type: string
                        format: uuid
                      status:
                        type: string
                        enum: [INACTIVE]
                      message:
                        type: string

  /admin/users/{userId}/unlock:
    post:
      tags: [Admin Users]
      summary: Unlock user account
      description: Changes user status from LOCKED to ACTIVE and resets failed login attempts
      operationId: adminUnlockUser
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User unlocked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      userId:
                        type: string
                        format: uuid
                      status:
                        type: string
                        enum: [ACTIVE]
                      failedLoginAttempts:
                        type: integer
                        example: 0
                      message:
                        type: string

  # Customers
  /customers:
    post:
      tags: [Customers]
      summary: Create customer
      operationId: createCustomer
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomer'
      responses:
        '201':
          description: Customer created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Customer'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      tags: [Customers]
      summary: List customers
      operationId: listCustomers
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: parentCustomerId
          in: query
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          schema:
            type: string
            enum: [ROOT, RESELLER, ENTERPRISE, BUSINESS, INDIVIDUAL]
        - name: status
          in: query
          schema:
            type: string
            enum: [ACTIVE, INACTIVE, SUSPENDED]
      responses:
        '200':
          description: List of customers
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - properties:
                      data:
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Customer'

  /customers/{id}:
    get:
      tags: [Customers]
      summary: Get customer by ID
      operationId: getCustomer
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Customer'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags: [Customers]
      summary: Update customer
      operationId: updateCustomer
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/PathId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomer'
      responses:
        '200':
          description: Customer updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Customer'
    delete:
      tags: [Customers]
      summary: Delete customer
      operationId: deleteCustomer
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: Customer deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /customers/{id}/children:
    get:
      tags: [Customers]
      summary: Get direct children of customer
      operationId: getCustomerChildren
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/PathId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: List of child customers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'

  /customers/{id}/descendants:
    get:
      tags: [Customers]
      summary: Get all descendants of customer
      operationId: getCustomerDescendants
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/PathId'
        - name: maxDepth
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: List of descendant customers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /customers/{id}/tree:
    get:
      tags: [Customers]
      summary: Get customer hierarchy tree
      operationId: getCustomerTree
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/PathId'
        - name: maxDepth
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Customer tree structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /customers/{id}/move:
    post:
      tags: [Customers]
      summary: Move customer to new parent
      operationId: moveCustomer
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/PathId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveCustomer'
      responses:
        '200':
          description: Customer moved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Customer'

  # Partners
  /partners:
    post:
      tags: [Partners]
      summary: Register new partner
      operationId: registerPartner
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterPartner'
      responses:
        '201':
          description: Partner registered
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Partner'
    get:
      tags: [Partners]
      summary: List partners
      operationId: listPartners
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, APPROVED, ACTIVE, SUSPENDED, REJECTED, TERMINATED]
        - name: type
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of partners
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'

  /partners/{id}:
    get:
      tags: [Partners]
      summary: Get partner by ID
      operationId: getPartner
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: Partner details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Partner'
    put:
      tags: [Partners]
      summary: Update partner
      operationId: updatePartner
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/PathId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterPartner'
      responses:
        '200':
          description: Partner updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Partner'

  /partners/{id}/approve:
    post:
      tags: [Partners]
      summary: Approve partner
      operationId: approvePartner
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: Partner approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /partners/{id}/reject:
    post:
      tags: [Partners]
      summary: Reject partner
      operationId: rejectPartner
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/PathId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Partner rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /partners/{id}/suspend:
    post:
      tags: [Partners]
[...]
